<%- partial('./partial/sidemenu.ejs') %>
<div class="content admin w-100">
  <h5 class="main-heading1">系統<span class="highlight">資訊</span></h5>
  <section>
    <h6 class="main-heading2 mb-0">用戶資訊</h6>

  </section>
  <section>
    <h6 class="main-heading2 mb-0">其他資訊</h6>

  </section>
</div>
