<%- partial('./partial/sidemenu.ejs') %>
<section class="content aboutus flex-lg-grow-1">
  <h5 class="main-heading1">技巧<span class="highlight">體操</span></h5>
  <div class="container-fluid">
    <p class="text-center mt-4"><span class="gymnastics-frame"><img src="images/acro.jpg"></span></p>

    <p class="lead">技巧體操</p>
    
    <p>技巧體操十分講求合作，是一種用力準確的形體運動。比賽分五個項目：男子雙人、女子雙人、混合雙人、女子三人和男子四人。其動作特點，一類是靜力性平衡造型動作；另一類是動力性拋接動作，是通過兩人、三人或四人的合作而創造，因此劃分了上面人、下面人與及中間人等不同的運動角色。</p>
    
    <p><strong>平衡類：</strong>在不同的支撐點上完成各種多變的造型：如劈腿、結環，倒立、背弓、水平等動作。 <br>
    <strong>拋接類：</strong>完成各種空中翻轉；快速、用力、掛腰、下法等騰空動作。</p>
    
    <p>技巧訓練要求兩人、三人或四人思想技術協調配合，通過練習可以培養勇敢頑強的意志，發揮團結互助的集體主義精神，以及提高靈敏、速度、力量等素質。</p>
    
    <p class="lead">Acrobatic Gymnastics</p>
    <p>Acrobatic Gymnastics is all about partnership and power. Gymnasts who mainly carry out supporting and throwing roles are called the “bases”; while the smaller and more flexible gymnasts will mostly be the “tops”. Two or more gymnasts form a pair or group, work together and perform a routine to music consisting of acrobatic movements, dance and tumbling. Partnerships in competitions include: Women’s Pair, Men’s Pair, Mixed Pair (a male base and a female top), Women’s Group (three females) and Men’s Group (four males).</p>
    
    <p>Gymnasts mainly perform two routines:<br>“Balance routine” focuses on strength, poise and flexibility; “Dynamic routine” includes elements such as throws, somersaults and catches; for advanced level, gymnasts will perform the third routine called “Combined routine”, which includes both balance and dynamic movements and elements.</p>
    
    <p>Mutual coordination of skills and minds is very important during training. Trough practicing Acrobatic Gymnastics, gymnasts are able to develop their strong and tough personalities, body strength and flexibilities.</p>

    <div class="row mb-4">
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame"><img class="w-100" src="images/introimg/acro1.jpg"></span>
        <br>女子三人
      </div>
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame w-50"><img class="w-100" src="images/introimg/acro2.JPG"></span>
        <br>女子雙人
      </div>
    </div>
  </div>
</section>
