<%- partial('./partial/sidemenu.ejs') %>
<section class="content aboutus flex-lg-grow-1">
  <h5 class="main-heading1">健美<span class="highlight">體操</span></h5>
  <div class="container-fluid">
    <p class="text-center mt-4"><span class="gymnastics-frame"><img class="w-100" src="images/IMGL7138.jpg"></span></p>

    <p class="lead">健美體操</p>
    
    <p>健美體操是一種結合了有氧運動、基本步伐及難度動作的運動。難度動作包括﹕ 動態力量、靜態力量、跳與躍及平衡與柔軟度。同時，裁判依據以下特殊要求作出評分：藝術性、完成情況、動作難度、整套動作內容、動作難度類別和動作難度分值。健美體操成為國際體操聯合會中的其中一個體操項目後，本會便在1998年派員參加國際體操聯合會會議中的健美操委員會會議，以了解健美體操的發展方向。 </p>
    
    <p>同時，本會更多次邀請中國競技健操健兒來港表演，將這運動介紹給本港市民。在香港康體發展局教練培訓部的支持下，本會在2000年及2001年分別舉辦健美體操教師班，邀請中國健美操協會科研委員會副主任、北京市健美操協會副秘書長、北京體育大學體操教研室副主任馬鴻韜博士來港培訓六十多位中小學教師，教授健美體操理論及動作技巧。</p>
    
    <p>本會於2000年更獲得優質教育基金撥款，在學校進行「健美體操獎勵計劃」，此計劃內容主要包括開辦健美體操教師班、舉辦健美體操同樂日、設計學生獎勵計劃及舉辦健美體操比賽。藉著舉辦是項獎勵計劃，可以增加大眾對健美體操的認識，另一方面可以鼓勵市民多參與有益身心的健體運動，保持良好的體格，享受健美體操的樂趣。本會的健美體操技術委員會也於2001年7月成立，一群熱心健美體操的義務同工將開始推廣這運動的工作。</p>
    
    <p>Aerobic Gymnastics involved aerobic exercises and complicated body movements. It is the ability to perform continuous complex and high intensity movement patterns to music. Difficult elements include dynamic strength, static strength, jumps & leaps, balance & flexibility. Total scores are based on Artistic, Execution, Difficulty and contents. In 1998, we sent representatives to attend the FIG AER TC meeting and develop Aerobic Gymnastics in Hong Kong.</p>
    
    <p>At the same time, we invited gymnasts from China to perform and promote Aerobic Gymnastics to Hong Kong citizens. Under the support of Hong Kong Sports Development Board, we invited Mr. MA Hong-tao (Executive of Beijing Sport University Sports Art Department) to hold Aerobic Gymnastics courses in 2000 and 2001 respectively. There were more than 60 primary/secondary teachers participating in it.</p>
    
    <p>In 2000, with the subvention from Quality Education Fund, we promoted Aerobic Gymnastics Coach Courses, Fun Day, Badge Scheme and Competitions in schools. It aimed to raise public awareness and encourage people to practice Aerobic Gymnastics in a healthy life style. In 2001, Hong Kong Aerobic Gymnastics Technical Committee was first established.</p>

    <div class="row mb-4">
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame w-50"><img class="w-100" src="images/introimg/aer1.jpg"></span>
        <br>女子單人
      </div>
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame"><img class="w-100" src="images/introimg/aer2.JPG"></span>
        <br>男子單人
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame"><img class="w-100" src="images/introimg/aer3.jpg"></span>
        <br>表演 - 59th 體育節開幕禮
      </div>
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame"><img class="w-100" src="images/introimg/aer4.JPG"></span>
        <br>表演 - 2016全民運動日
      </div>
    </div>
  </div>
</section>
