<%- partial('./partial/sidemenu.ejs') %>
<section class="content aboutus flex-lg-grow-1">
  <h5 class="main-heading1">健美<span class="highlight">體操</span></h5>
  <div class="container-fluid">
    <p class="text-center mt-4"><span class="gymnastics-frame"><img src="images/gfa.jpg"></span></p>

    <p class="lead">﹙I﹚ 什麼是普及體操</p>
    <p>它，雖然採用圈、球、繩等小器械，但不同於〝藝術體操〞；它，雖然揉合了翻滾，騰空跳躍及平衡等動作，但卻有別於〝競技體操〞；它，還要求技巧體操所講究的支撐與平衡，以及隊友間的合作與依賴，但又不屬於〝技巧體操〞；它，還包括了………。它 ──〝普及體操〞，其實集各家大成於一身。普及體操源自最基本的體操動作，逐漸演變成現時各種表演和韻律形式，它們包括徒手體操﹙如自由體操、技巧體操等﹚，手拋器械體操﹙如絲帶、小球、圈等﹚，大型器械體操﹙如跳馬、彈網等﹚，舞蹈﹙如土風舞、健康舞等﹚，及自創小型用具操﹙如毛巾、扇、雨傘等﹚；而且可以配合音樂和遊戲進行活動，更可利用身體造形及隊員的合作砌出不同的圖形來表達某些意念。由此可見，普及體操的內容包羅萬有，想到的所有體操動作及大、小自創器械都納入普及體操的範圍。</p>
    
    <p class="lead">﹙II﹚ 普及體操的發展</p>
    <p>普及體操起源於北歐，及後推廣至整個歐洲，至今已有近百年歷史，而第一屆〝國際普及體操節〞早於1939年於瑞典舉行，此後每四年一度，由不同國家輪流主辦。香港業餘體操協會於1993年把它引入香港，使香港繼日本後成為第二個推行普及體操的亞洲地區。在這短短的幾年發展中，透過商場巡迴表演及親子活動的形式作推廣。除此之外，香港業餘體操協會也舉辦了不少普及體操同樂日、訓練班和導師班等。更值一提的，便是由1994年開始舉辦了一年一度的「香港普及體操節」，此乃仿傚歐洲四年一度的「世界普及體操大匯演」之大型體操活動。由不同組織及學校派代表隊伍參與表演，每年皆超過五百名參加者，而他們的年齡則介乎3至70歲，至今已舉行了五屆。本會希望透過此項活動，為各訓練班的學員、屬會及學校代表，提供大型表演及交流機會，並藉此將普及體操傳至各階層。</p>
    
    <p class="lead">﹙III﹚ 普及體操的特色</p>
    <p><strong>〈老幼咸宜〉</strong><br>一般人平日生活多數是上班或上學；周末和假日又忙著與家人上茶樓、看電影或逛街；對於運動，反而較少接觸，而普及體操形式簡單及多樣化，講求合作和參與，適合不同年齡，不同運動水平的人士參加，尤其適合家長與子女一同參與，既可帶動多些親子概念給已有孩子的父母，從而促進子女與父母之間的溝通；年長的老人，更可在閒時多一些消遣，不感寂寞。由此可見，普及體操可配合不同人士的特長而編排不同的動作給他們，從而砌出美妙的圖案，表達出合作相親的精神，可謂老幼咸宜，各展所長。普及體操的內容極富彈性，參加者除了跟隨教練給予的常規活動學習外，更可加入自己的意見，表達自己的意念，極具創作和挑戰性。</p>
    
    <p><strong>〈表演機會〉</strong><br>普及體操有別於其他體操項目，沒有比賽成份，而是著重合作和美感的表演；沒有很多規則限制，所以自由度十分大。參加者能藉此擁有合作表演的機會，因為學員在學習普及體操動作之餘，教練會為學員編排一套表演動作，給他們一同排練，一同感受表演帶來的興奮和氣氛。</p>

    <div class="row mb-4">
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame"><img class="w-100" src="images/introimg/gfa1.jpg"></span>
        <br>普及體操節
      </div>
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame"><img class="w-100" src="images/introimg/gfa2.JPG"></span>
        <br>普及體操節
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 text-center">
        <span class="gymnastics-frame"><img class="w-100" src="images/introimg/gfa3.JPG"></span>
        <br>普及體操節 - 大匯演
      </div>
    </div>
  </div>
</section>
