<%- partial('./partial/sidemenu.ejs') %>
<section class="content aboutus flex-lg-grow-1">
  <h5 class="main-heading1">競技<span class="highlight">體操</span></h5>
  <div class="container-fluid">
    <p class="text-center mt-4"><span class="gymnastics-frame"><img src="images/ag.jpg"></span></p>

    <p class="lead">競技體操</p>
    <p>競技體操是國際奧林匹克運動會重點比賽項目之一。體操運動歷史悠久，早在公元二千多年前，古埃及的古書註釋中，已有人做體操的翻騰動作。</p>
    
    <p>現代體操則起源於十八世紀，第一屆奧運會在1896年開始了最早的體操比賽，直至1936年第十一屆奧運會才有男子六項比賽，而女子四項比賽則到1952年第十七屆奧運會才開始確定下來。<br>所謂男子六項是指：自由體操、跳馬（縱馬）、雙槓、單槓、吊環及鞍馬<br>女子四項是指：跳馬（橫馬）、高低槓、平衡木、自由體操</p>
    
    <p>競技體操也是一種追求完美、向難度動作自我挑戰的運動，在各個項目中將個人的潛能發揮，邁向著個人憧憬的理想目標的運動。</p>
    
    <p>由於競技體操本身有獨特性及優美性，兒童及青少年通過體操練習，可培養他們勇敢、果斷、堅毅、頑強、克服困難的意志品質。更能使他們身體得到全面均衡健康的發展。再者在觀看此種藝術與體育相結合的運動時，使人看得目瞪口呆，拍手叫絕，引人入勝。</p>
    
    
    <p class="lead">Artistic Gymnastics</p>
    <p>Artistic Gymnastics is regarded as one of the focus disciplines in Olympic Games. Gymnastics has been around for long in sports, Salto was recorded in the history of Ancient Egypt about two thousand years ago.</p>
    
    <p>Modern Gymnastics formally originated in 18th century, which was included into the competitive event at the 1st Olympic Games in 1896. Six men’s apparatus and four women’s apparatus were recognized in the 11th Olympic Games in 1936 and the 17th Olympic Games in 1952 respectively. <br>Six apparatus men compete: Floor Exercise, Pommel Horse, Parallel Bars, Horizontal Bar, Still Rings and Vault<br>
    Four apparatus women compete: Vault, Uneven Bars, Balance Beam and Floor Exercise</p>
    
    <p>Artistic Gymnastics contains complicated movements, gymnasts strive for perfection and self-challenge. Each apparatus can inspire gymnasts to spot their potential talents, accordingly to pursue their goal.</p>
    
    <p>Artistic gymnastics is a unique and attractive sport, children and teenagers can develop their determination and balanced body development through practices. Additionally, this sport is the fusion of art and sport and people enjoys watching it a lot.</p>

    <div class="row mb-4">
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame"><img class="w-100" src="images/introimg/FXM.jpg"></span>
        <br>男子 - 自由體操
      </div>
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame"><img class="w-100" src="images/introimg/PH.JPG"></span>
        <br>男子 - 鞍馬
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame"><img class="w-100" src="images/introimg/SR.jpg"></span>
        <br>男子 - 吊環
      </div>
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame"><img class="w-100" src="images/introimg/VTM.JPG"></span>
        <br>男子 - 跳馬
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame w-50"><img class="w-100" src="images/introimg/PB.jpg"></span>
        <br>男子 - 雙槓
      </div>
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame w-50"><img class="w-100" src="images/introimg/HB.JPG"></span>
        <br>男子 - 單槓
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame w-50"><img class="w-100" src="images/introimg/VTW.jpg"></span>
        <br>女子 - 跳馬
      </div>
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame"><img class="w-100" src="images/introimg/UB.JPG"></span>
        <br>女子 - 高低槓
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame"><img class="w-100" src="images/introimg/BB.jpg"></span>
        <br>女子 - 平衡木
      </div>
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame"><img class="w-100" src="images/introimg/FXW.JPG"></span>
        <br>女子 - 自由體操
      </div>
    </div>
  </div>
</section>
