<%- partial('./partial/sidemenu.ejs') %>
<section class="content aboutus flex-lg-grow-1">
  <h5 class="main-heading1">藝術<span class="highlight">體操</span></h5>
  <div class="container-fluid">
    <p class="text-center mt-4"><span class="gymnastics-frame"><img src="images/rg.jpg"></span></p>

    <p class="lead">藝術體操</p>
    <p>藝術體操是一項徒手或手持輕器械在音樂伴奏下進行的體育運動項目。</p>
    
    <p>藝術體操在正式比賽時，不論是個人還是集體項目，都必須以成套動作的形式出現，運動員根據自己的個人風格、規則的要求，將所掌握的各種單個動作組合而編排成一套完整套路來比賽，現時正式比賽有五種器械，分別為球、圈、繩、棒及絲帶。</p>
    
    <p>藝術體操不但以自然性，韻律性動作為基礎，更經過藝術加工的動作，使身體各種關節得到充分的活動，各部肌肉得到均衡發展。因此，它是塑造美的體型，陶冶美的情操，進行美的教育一種有效方式。</p>
    
    <p class="lead">Rhythmic Gymnastics</p>
    <p>Rhythmic Gymnastics is a sport event in which gymnasts manipulate one or two pieces of apparatus or Free Hand accompanied by music.</p>
    
    <p>For both individual and group events, a routine must be performed in the official rhythmic gymnastics competitions. With reference to gymnasts’ own personalities, competition rules and requirements, they must create a complete routine by combining various single movement. In present, there are five official game apparatus- Ball, Hoop, Rope, Clubs and Ribbon.</p>
    
    <p>Rhythmic Gymnastics not only includes natural and rhythmic movements as foundation, but also integrates artistic patterns, which can enhance the joint activities of individuals, as well as to strengthen muscle development. It can be shaped body beauty and have a good sentiment.</p>

    <div class="row mb-4">
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame"><img class="w-100" src="images/introimg/rope.jpg"></span>
        <br>繩操
      </div>
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame"><img class="w-100" src="images/introimg/robbin.JPG"></span>
        <br>絲帶操
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame w-50"><img class="w-100" src="images/introimg/ball.jpg"></span>
        <br>球操
      </div>
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame w-50"><img class="w-100" src="images/introimg/club.jpg"></span>
        <br>棒操
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 text-center">
        <span class="gymnastics-frame"><img class="w-100" src="images/introimg/hoop.jpg"></span>
        <br>圈操
      </div>
    </div>
  </div>
</section>
