<%- partial('./partial/sidemenu.ejs') %>
<section class="content aboutus flex-lg-grow-1">
  <h5 class="main-heading1">彈<span class="highlight">網</span></h5>
  <div class="container-fluid">

    <p class="lead">彈網</p>
    
    <p>彈網運動源於六十年代的美國，後來傳到歐洲，直至現在這項運動在歐美國家相當受人歡迎。在亞洲地區當中日本和香港則較早起步，彈網在五十年代便由英軍帶入香港，六十年代開始在香港的體育會推展，七十年代不少學校亦組織彈網班及彈網隊，到八十年代香港代表隊成立，並參加國際性比賽，至今彈網在香港不算是熱門運動，但也受很多青少年和學生歡迎，每次訓練班、公開比賽和學界比賽都參加者眾，由此可見彈網在香港仍有一定的號召力。更加令人鼓舞的是彈網已經被列入二千年悉尼奧運會的比賽項目，相信未來幾年在世界各地和香港都會致力發展彈網運動，必定令這項運動更普及和更受歡迎。</p>
    
    <p>彈網的玩法是十分簡單，彈網令運動員有高的騰空和很長的空中時間，在空中運動員便要做出不同的身體姿勢及動作，彈網受歡迎就可能是這種高騰空的感覺，在空中要控制好自己的身體談何容易，嘗試過的人無不覺得是一項易玩難精的運動。在彈網比賽中更不單只要求簡單的身體控制，還要求動作難和美，因此挑戰難度，力臻完美便是彈網比賽的致勝要訣，所以練習彈網除有良好的身體控制能力外，還可以培養我們勇於接受挑戰和追求完美人生態度。</p>
    
    <p>除此之外，彈網運動有很高的觀賞價值，欣賞一位高水平的運動員在彈網上做出優美而高難度的翻騰動作，的確是賞心悅目。彈網還設有同步比賽，所謂同步比賽，就是兩名運動員在兩張彈網上做同一套動作，除了要求難和美，最重要便是齊，這是彈網運動一項獨特之處。</p>
    
    <p>請親身感受和領略一下彈網運動，你也會獲得無比的樂趣。</p>
    
    <p class="lead">Trampoline</p>
    <p>The sport first developed in the early 1930’s in America and was spread to Europe countries. Hong Kong and Japan started to develop this sport among other Asian countries. Trampoline was brought from the English Army in 1950’s, then became popular in local sports clubs and schools. A lot of teenagers and students were attracted to participate in Trampoline training courses or competitions. And the Hong Kong Trampoline squad was formed in 1980’s. In 2000, individual Trampoline became a competitive Olympic sport.</p>
    
    <p>Gymnasts just simply bounce on the Trampoline with jumps in pike, tuck or straddle positions to more complex movements. Most people will think that it is very exciting while they stay in the air for a long time with impressive jumping height. However, the most difficult skills of Trampoline are to control and display elegant body shapes. Gymnasts are able to learn how to overcome challenges and chase for perfection through intensive training.</p>
    
    <p>Besides Individual Trampoline, the competition of Synchronized Trampoline also attracts a lot of spectators. In synchronized trampolining, two gymnasts perform the same element at the same time and must start facing in the same direction, but they do not need to twist in the same direction.</p>

    <div class="row">
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame w-50"><img class="w-100" src="images/introimg/tra1.jpg"></span>
        <br>個人
      </div>
      <div class="col-12 col-lg-6 text-center">
        <span class="gymnastics-frame"><img class="w-100" src="images/introimg/tra2.jpg"></span>
        <br>雙人同步
      </div>
    </div>
  </div>
</section>
