<aside class="aboutus">
  <section>
    <h6 class="side-heading3"><span class="reflect" data-text="關於我們">關於我們</span></h6>
    <ul class="list-unstyled">
      <li><a class="side-button1 <%= req.path == '/aboutus' ? 'active':'' %>" href="/aboutus">本會簡介</a></li>
      <li><a class="side-button1" href="http://www.gahk.org.hk/GAHK_M_&_A.pdf" target="_blank">會章</a></li>
      <li><a class="side-button1 <%= req.path == '/aboutus/office-bearers' ? 'active':'' %>" href="/aboutus/office-bearers">執委會名單</a></li>
      <li><a class="side-button1" href="http://www.gahk.org.hk/doc/SelectionCriteria.pdf" target="_blank">體操運動員甄選準則</a></li>
      <li><a class="side-button1" href="http://www.gahk.org.hk/doc/lcsdauditreport2012-13.pdf" target="_blank">康文署核數報告2012/13</a></li>
    </ul>
  </section>
</aside>
