<h5>已確認成為會員: <%= models.ChiName %> </h5>
<div class="row">
    敬啟者﹕<P></P>

    本會已收到  閣下已確認成為會員 ，會員編號為 IND <%= models.MemberNo%> 。
<P></P>

    如閣下未能收到任何通知，可致電2504 8233與本會職員聯絡。
    <P></P>
    中國香港體操總會

</div>