<h5>已收到申請: <%= coach.ChiName %> </h5>
<div class="row">
    敬啟者﹕<P></P>

    本會已收到  閣下的申請表，本會現正處理有關申請，
    有關繳交教練費用，請閣下以郵寄方式把支票寄回本處。
    本處確認收到支票後會發出確認書，最遲將於開班前兩個星期收到通知，請閣下耐心等待。
<P></P>
    如閣下未能收到任何通知，可致電2504 8233與本會職員聯絡。
    <P></P>
    中國香港體操總會

</div>