<section class="content competition w-100">
  <h5 class="main-heading1">本地<span class="highlight">比賽</span></h5>
  <div class="container-fluid">
    <p class="lead text-center font-weight-bold" style="color:#163457">本地比賽消息<br>2010/2011年度比賽時間表</p>

    <table class="w-100 table table-striped">
      <caption>*比賽時間如有更改, 本會將另行公佈</caption>

    </table>
    <%- partial('./partial/links.ejs') %>
  <div>
</section>
