<section class="content competition w-100">
  <h5 class="main-heading1">本地<span class="highlight">比賽</span></h5>
  <div class="container-fluid">
    <p class="lead text-center font-weight-bold" style="color:#163457">本地比賽消息<br>2012/2013年度比賽時間表</p>

    <table class="w-100 table table-striped">
      <caption>*比賽時間如有更改, 本會將另行公佈</caption>
<tbody><tr>
                        <td height="23"><div align="center"><strong>日期</strong></div></td>
                        <td><div align="center"><strong>活動／賽事</strong></div></td>
                        <td><div align="center"><strong>場地</strong></div></td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="16%" height="23"><div align="center">20 – 21/10/2012</div></td>
                      <td width="41%"><div align="center">2012年全港藝術體操公開比賽</div></td>
                      <td width="19%"><div align="center">蕙荃體育館</div></td>
                      <td width="24%"><div align="left"><span><a href="http://www.gahk.org.hk/doc/RGopen1213.pdf">章程</a> - <a href="http://www.gahk.org.hk/doc/RGopen1213_application.pdf">報名表</a> - <a href="http://www.gahk.org.hk/doc/RGopen1213_regulations.pdf">競賽要求</a> - <a href="http://www.gahk.org.hk/doc/RGopen1213_difficulty.pdf">難度表</a> - <a href="http://www.gahk.org.hk/doc/RGopen1213_results.pdf"> 成績</a></span></div></td>
                      </tr>
                      <tr>
                        <td height="23"><div align="center">11/11/2012</div></td>
                        <td bgcolor="#f2f6fa"><div align="center">第九屆學界健美體操比賽</div></td>
                        <td bgcolor="#f2f6fa"><div align="center">蕙荃體育館</div></td>
                        <td bgcolor="#f2f6fa"><span style=""><a href="http://www.gahk.org.hk/doc/AER9thintersch.pdf">章程及報名表</a> - <a href="http://www.gahk.org.hk/doc/AER9thintersch_regulations.pdf"> 比賽規則</a><br>
                            <a href="http://www.gahk.org.hk/doc/AER9thintersch_meeting.pdf"> 領隊會議記錄</a> - <a href="http://www.gahk.org.hk/doc/AER9thintersch_rundown.pdf"> 賽程</a> - <br>
                            <a href="http://www.gahk.org.hk/doc/AER9thintersch_startorder.pdf"> 運動員名單</a>&nbsp; - <a href="doc/AER%209th%20insterschool%20competition%20result.pdf">成績</a></span></td>
                      </tr>
                      <tr>
                        <td height="23"><div align="center">1-2/12/2012</div></td>
                        <td><div align="center">全港彈網公開賽</div></td>
                        <td><div align="center">港灣道體育館</div></td>
                        <td><span style=""><a href="http://www.gahk.org.hk/doc/2012TRAopen.pdf">章程及表格</a> - <a href="http://www.gahk.org.hk/doc/2012TRAOpen_regulations.pdf"> 比賽規則</a> <br>
&nbsp;<span class="style31"><a href="doc/SKMBT_C45112111511390.pdf">補充通知</a></span><span class="style32"> - <span class="style33"> <a href="doc/2012TRA_OPEN_RUNDOWN.pdf"> 場刊</a></span></span> - <a href="doc/TRA%20Open%202012%20Result.pdf">成績</a></span></td>
                      </tr>
                      <tr>
                        <td height="23"><div align="center">10 – 14/1/2013</div></td>
                        <td bgcolor="#f2f6fa"><div align="center">2012年全港競技體操公開及新秀比賽暨國際邀請賽</div></td>
                        <td bgcolor="#f2f6fa"><div align="center">馬鞍山體育館</div></td>
                        <td bgcolor="#f2f6fa"><p><a href="http://www.gahk.org.hk/doc/2013AGopen.pdf">章程及報名表</a> - <br>
                              <a href="http://www.gahk.org.hk/doc/2013AGopen_rules.pdf"> 評分內容及器械規格</a> - <br>
                              <a href="http://www.gahk.org.hk/doc/2013AGopen_startlist.pdf"> 出場序</a> - <a href="http://www.gahk.org.hk/doc/2013AGopen_rundown.pdf"> 比賽時間表</a><br>
                            </p>
                          <p>國際組成績<br>
                                      <a href="http://www.gahk.org.hk/doc/AGChamp2013_MAGseniorAll-around.pdf"> 男子成年個人全能</a><br>
                                      <a href="http://www.gahk.org.hk/doc/AGChamp2013_WAGseniorAll-around.pdf"> 女子成年個人全能</a><br>
                                      <a href="http://www.gahk.org.hk/doc/AGChamp2013_MAGjuniorAll-around.pdf"> 男子少年個人全能</a><br>
                                      <a href="http://www.gahk.org.hk/doc/AGChamp2013_WAGjuniorAll-around.pdf"> 女子少年個人全能</a><br>
                                      <a href="http://www.gahk.org.hk/doc/AGChamp2013_MAGseniorApparatusFinal.pdf"> 男子成年單項決賽</a><br>
                                      <a href="http://www.gahk.org.hk/doc/AGChamp2013_WAGseniorApparatusFinal.pdf"> 女子成年單項決賽</a><br>
                                      <a href="http://www.gahk.org.hk/doc/AGChamp2013_MAGjuniorApparatusFinal.pdf"> 男子少年單項決賽</a><br>
                                      <a href="http://www.gahk.org.hk/doc/AGChamp2013_WAGjuniorApparatusFinal.pdf"> 女子成年單項決賽</a></p>
                          <p>本地組成績</p>
                          <p><a href="http://www.gahk.org.hk/doc/AGChamp2013_WAGopensenior.pdf"> 女子公開(青年)</a><br>
                              <a href="http://www.gahk.org.hk/doc/AGChamp2013_MAGopenjunior.pdf"> 男子</a><a href="http://www.gahk.org.hk/doc/AGChamp2013_MAGopenjunior.pdf">公開(少年)</a><a href="http://www.gahk.org.hk/doc/AGChamp2013_MAGjuniorAll-around.pdf"></a><br>
                              <a href="http://www.gahk.org.hk/doc/AGChamp2013_WAGopenjunior.pdf"> 女子</a><a href="http://www.gahk.org.hk/doc/AGChamp2013_WAGopenjunior.pdf">公開(少年)</a><a href="http://www.gahk.org.hk/doc/AGChamp2013_MAGjuniorAll-around.pdf"></a><br>
                              <a href="http://www.gahk.org.hk/doc/AGChamp2013_MAGelementary.pdf"> 男子初級</a><br>
                              <a href="http://www.gahk.org.hk/doc/AGChamp2013_WAGelementary.pdf"> 女子初級</a><br>
                              <a href="http://www.gahk.org.hk/doc/AGChamp2013_MAGnovice.pdf"> 男子新秀</a><br>
                            <a href="http://www.gahk.org.hk/doc/AGChamp2013_WAGnovice.pdf"> 女子新秀</a></p>
                          <p class="style4" style="line-height: 13pt;"><span style="color: green;">於各項目獲前八名之運動員，均獲頒發証書乙張。獲發証書之運動員可於即日起至及
                            <st1:chsdate isrocdate="False" islunardate="False" day="31" month="3" year="2010" w:st="on"><span lang="EN-US" xml:lang="EN-US">3</span>月<span lang="EN-US" xml:lang="EN-US">31</span>日</st1:chsdate>
                            期間親臨本會辦事處領取。逾期作廢。<span lang="EN-US" xml:lang="EN-US">
  <o:p></o:p>
</span></span></p>
                          <p class="style4" style="line-height: 13pt;"> <span style="font-size: 13pt; color: green;">運動員亦可授權其他人士代領，但需填寫<span lang="EN-US" xml:lang="EN-US"><a href="http://gahk.org.hk/doc/AGChamp2013_Authorizationletter.pdf">授權書</a></span>予代領人一併帶到本辦公室。</span></p></td>
                      </tr>
                      <tr>
                        <td height="23"><div align="center">24/2/2013</div></td>
                        <td><div align="center">2012年全港技巧體操分齡比賽</div></td>
                        <td><div align="center">馬鞍山體育館</div></td>
                        <td><a href="http://www.gahk.org.hk/doc/2013ACROagegroup.pdf">章程及報名表</a> - <a href="doc/2013AcroAgeGroup_elements&amp;sample_final.pdf">動作圖表</a></td>
                      </tr>
                      <tr>
                        <td height="23"><div align="center">30 – 31/3/2013</div></td>
                        <td><div align="center">第十四屆中學彈網賽</div></td>
                        <td><div align="center">港灣道體育館</div></td>
                        <td><p><a href="http://www.gahk.org.hk/doc/14thTRAintersch.pdf" target="_blank">章程及表格</a>&nbsp;- <a href="http://www.gahk.org.hk/doc/14thTRAintersch_Routine.pdf" target="_blank"></a><a href="http://www.gahk.org.hk/doc/14thTRAintersch_Routine.pdf">規定動作 </a><a href="http://www.gahk.org.hk/doc/14thTRAintersch_booklet.pdf" target="_blank">場刊</a><a href="http://www.gahk.org.hk/doc/14thTRAintersch_Routine.pdf" target="_blank"> </a></p>                          </td>
                      </tr>
                      
                      <tr>
                        <td height="23"><div align="center">5/5/2013</div></td>
                        <td><div align="center">第五十六屆體育節 – 2013年全港技巧體操公開賽</div></td>
                        <td><div align="center">馬鞍山體育館</div></td>
                        <td><a href="doc/ACROopen2013.pdf">章程及報名表</a> - <a href="doc/ACROopen2013_routine.doc">比賽卡</a> - <a href="doc/ACROopen2013_elements.pdf">動作圖表</a> </td>
                      </tr>
                      <tr>
                        <td height="23"><div align="center">5/5/2013</div></td>
                        <td><div align="center">第十屆學界健美體操比賽</div></td>
                        <td><div align="center">蕙荃體育館</div></td>
                        <td><p><a href="http://www.gahk.org.hk/doc/AER10thintersch.pdf" target="_blank">章程及報名表</a>&nbsp;-<a href="doc/AER10thintersch_regulations.pdf" target="_blank"></a><a href="http://www.gahk.org.hk/doc/AER10thintersch_regulations.pdf" target="_blank">比賽規則</a> - <a href="doc/AER10thintersch_startorder.pdf">出場序</a> - <a href="pdf/AER10th interschool competition rundown.pdf">比賽時間</a>- <a href="pdf/AER10th interschool competition pt.pdf">領隊會議備忘</a> - <a href="../doc/AER10th insterschool competition result.pdf">成績</a> </p>                          </td>
                      </tr>
                      <tr>
                        <td height="23"><div align="center">18-19/5/2013</div></td>
                        <td><div align="center">第五十六屆體育節 – 2013年全港學界藝術體操比賽</div></td>
                        <td><div align="center">蕙荃體育館</div></td>
                        <td><a href="http://www.gahk.org.hk/doc/2013RGinterschool.pdf">章程</a>&nbsp;- <a href="http://www.gahk.org.hk/doc/2013RGinterschool_regulations.pdf">競賽要求</a> - <a href="http://www.gahk.org.hk/doc/2013RGinterschool_primary.pdf">小學組報名表</a> - <a href="http://www.gahk.org.hk/doc/2013RGinterschool_secondary.pdf">中學組報名表</a> -<a href="doc/2013RGinterschool_booklet_R2.pdf">場刊(修訂於2013年5月13日)</a> <span class="style32">-</span> <a href="../doc/2013RGinterschool+primary result.pdf">小學姐成績</a> <span class="style32">-</span> <br>
                          <a href="../doc/2013RGinterschool+secondary result.pdf">中學組成績</a> - <a href="doc/2013RGinterschool_primaryallaroundresult.pdf">小學組個人全能成績</a> - <a href="doc/2013RGinterschool_secondaryallaroundresult.pdf">中學組個人全能成績</a> </td>
                      </tr>
                      <tr>
                        <td height="23"><div align="center">25-26/5/2013</div></td>
                        <td><div align="center">
                          <p>第五十六屆體育節 – 2013年全港彈網分齡賽</p>
                          </div></td>
                        <td><div align="center">港灣道體育館</div></td>
                        <td><a href="doc/TRAagegroup2013.pdf" target="_blank">章程及表格</a> <span class="style32">- <u><a href="../doc/TRAagegroup2013_booklet.pdf">場刊</a></u></span> - <a href="../doc/TRA2013age+group+result.pdf">成績</a> </td>
                      </tr>
                      <tr>
                        <td height="23"><div align="center">2/6/2013</div></td>
                        <td><div align="center">2013香港普及體操節（決賽）</div></td>
                        <td><div align="center">伊利沙伯體育館</div></td>
                        <td><p><a href="doc/GFAfestival2013.pdf">章程</a> - <a href="doc/GFAfestival2013_namelist.doc">報名表(工作人員名單)</a> - <a href="doc/GFAfestival2013_description.doc">報名表(表演介紹)</a> - <a href="pdf/GFA Festival ticket application form.pdf">門劵申請 </a>- <a href="doc/GFAfestival2013_SeatingPlan.pdf">座位表</a> - <a href="doc/GFAfestival2013_StartOrder.pdf">出場序</a> - <a href="doc/GFAfestival2013_RehearsalOrder.pdf">採排序</a> - <a href="../doc/GFA Festival 2013 Result.pdf">成績</a> </p>                          </td>
                      </tr>
                      <tr>
                        <td height="23"><div align="center">13/7/2013</div></td>
                        <td><div align="center">學校體育推廣計劃 - 藝術體操比賽2013</div></td>
                        <td><div align="center">蕙荃體育館</div></td>
                        <td><a href="doc/SSPcompetition2013.pdf">章程及報名表</a> - <a href="doc/SSPcompetition2013_booklet.pdf">場刊 - 申請拍攝指引</a></td>
                      </tr>
                      <tr>
                        <td height="23"><div align="center">19-20/10/2013</div></td>
                        <td><div align="center">2013年全港彈網公開賽</div></td>
                        <td><div align="center">港灣道體育館</div></td>
                        <td><a href="doc/TRAopen2013agenda.pdf">章程及報名表</a></td>
                      </tr>
                      <tr>
                        <td height="23"><div align="center">26-27/10/2013</div></td>
                        <td><div align="center">2013年全港藝術體操公開賽</div></td>
                        <td><div align="center">蕙荃體育館</div></td>
                        <td><a href="../doc/RGopen2013_agenda.pdf" class="f01_L18_001 style32">章程</a> - <a href="../doc/RGopen2013_application.pdf" class="f01_L18_001 style32">報名表</a> - <a href="../doc/RGopen2013_requiremnt.pdf" class="f01_L18_001 style32">競賽要求</a></td>
                      </tr>
                      <tr>
                        <td height="23"><div align="center">3/11/2013</div></td>
                        <td><div align="center">2013年全港十八區健美體操分齡比賽</div></td>
                        <td><div align="center">蕙荃體育館</div></td>
                        <td>&nbsp;</td>
                      </tr>
                  </tbody>
    </table>
    <%- partial('./partial/links.ejs') %>
  <div>
</section>
