<section class="content competition w-100">
  <h5 class="main-heading1">本地<span class="highlight">比賽</span></h5>
  <div class="container-fluid">
    <p class="lead text-center font-weight-bold" style="color:#163457">本地比賽消息<br>2013/2014年度比賽時間表</p>

    <table class="w-100 table table-striped">
      <caption>*比賽時間如有更改, 本會將另行公佈</caption>

<tbody><tr>
                        <td width="16%" height="23"><div align="center"><strong>日期</strong></div></td>
                        <td width="41%"><div align="center"><strong>活動／賽事</strong></div></td>
                        <td width="19%"><div align="center"><strong>場地</strong></div></td>
                        <td width="24%">&nbsp;</td>
                      </tr>
                      <tr>
                        <td height="23"><div align="center">19-20/10/2013</div></td>
                        <td><div align="center">2013年全港彈網公開賽</div></td>
                        <td><div align="center">港灣道體育館</div></td>
                        <td><span><a href="doc/TRAopen2013agenda.pdf">章程及報名表 </a>-<a href="../doc/TRAopen2013_rundown(revised).pdf"> <br>
                          場刊(修訂版)</a> - <a href="../doc/TRAOpen2013_Result.pdf">成績</a></span></td>
                      </tr>
                      <tr>
                        <td height="23"><div align="center">26-27/10/2013</div></td>
                        <td><div align="center">2013年全港藝術體操公開賽</div></td>
                        <td><div align="center">蕙荃體育館</div></td>
                        <td><a href="../doc/RGopen2013_agenda.pdf">章程</a> - <a href="../doc/RGopen2013_application.pdf">報名表</a> - <a href="../doc/RGopen2013_booklet.pdf">競賽要求 場刊 - </a><a href="../doc/RGopen2013_photography.pdf">申請拍攝指引</a> - <a href="../doc/RGopen2013_result.pdf"><br>
                          成績</a></td>
                      </tr>
                      <tr>
                        <td height="23"><div align="center">3/11/2013</div></td>
                        <td><div align="center">2013年全港十八區健美體操分齡比賽</div></td>
                        <td><div align="center">蕙荃體育館</div></td>
                        <td><span><a href="../doc/AERagegroup2013_agenda.pdf" class="style32">章程及報名表</a> - <a href="../doc/AERagegroup2013_Rules.pdf" class="style32">競賽要求<br>
                        </a><a href="../doc/AERagegroup2013_Result.pdf">成績</a></span></td>
                      </tr>
                      <tr>
                        <td height="23"><div align="center">2/3/2014</div></td>
                        <td><div align="center">2014年全港競技體操公開及新秀比賽</div></td>
                        <td><div align="center">馬鞍山體育館</div></td>
                        <td><p><a href="../doc/AGopen2014.pdf" class="style32 style38">章程及報名表</a> - <a href="../doc/AGopen2014_rules and regulation.pdf" class="style32 style38">評分內容及器械規格</a> - <a href="../doc/AGopen2014rundown.pdf">比賽時間表</a> -<br>                          
                              <span style="color:red"><a href="../doc/AGopen2014_comporder_revised.pdf">出場序(更正)</a> - <a href="../doc/AGopen2014_notice.pdf">領隊會議注意事項</a> </span></p>
                          <p class="style32">成績</p>
                          <p class="style32"><a href="../doc/AGopen2014_MAGsenior.pdf">男子公開(青年)</a><br>
                            <a href="../doc/AGopen2014_WAGsenior.pdf">女子公開(青年)</a><br>
                            <a href="../doc/AGopen2014_MAGjunior.pdf">男子公開(少年)</a><br>
                              <a href="../doc/AGopen2014_WAGjunior.pdf">女子公開(少年)</a><br>
                              <a href="../doc/AGopen2014_MAGelementary.pdf">男子初級</a><br>
                              <a href="../doc/AGopen2014_WAGelementary.pdf">女子初級</a><br>
                              <a href="../doc/AGopen2014_MAGnovice.pdf">男子新秀</a><br>
                              <a href="../doc/AGopen2014_WAGnovice.pdf">女子新秀</a><br>
                          </p>                          </td>
                      </tr>
                      <tr>
                        <td height="23"><div align="center">16/2/2014</div></td>
                        <td><div align="center">2014年全港技巧體操分齡賽</div></td>
                        <td><div align="center">馬鞍山體育館</div></td>
                        <td><span class="style41"><a href="../doc/ACROagegroup2014_agenda.pdf">章程及報名表</a> - <a href="../doc/ACROagegroup2014_movement.pdf">動作圖</a></span></td>
                      </tr>
					  <tr bgcolor="#f2f6fa" class="f01_L18_002">
                        <td height="23" class="f01_L18_001"><div align="center">5-6,12-13/4/2014</div></td>
                        <td class="f01_L18_001"><div align="center">2013-2014年度全港小學校際體操比賽</div></td>
                        <td class="f01_L18_001"><div align="center">馬鞍山體育館</div></td>
                        <td><a href="../doc/AGinterschools1314_pri_boysroutine.pdf">男子組動作</a> <span>-</span> <a href="../doc/AGinterschools1314_pri_girlsroutine revised2.pdf"><br>
                          女子組動作(修訂版二)</a></td>
                      </tr>
					  <tr>
                        <td height="23"><div align="center">12-13/4/2014</div></td>
					    <td><div align="center">2013-2014年度全港中學校際體操比賽</div></td>
					    <td><div align="center">馬鞍山體育館</div></td>
					    <td><a href="../doc/AGinterschools1314_sec_boysroutine.pdf">男子組動作</a> - <br>
                          <a href="../doc/AGinterschools1314_sec_girlsroutine revised.pdf">女子組動作(修訂版)</a></td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">12-13/4/2014 </div></td>
					    <td><div align="center">第十五屆香港中學彈網錦標賽</div></td>
					    <td><div align="center">港灣道體育館</div></td>
					    <td class="style32"><p><a href="../doc/TRA15thintschcomp_agenda.pdf" class="style32">章程及報名表</a> - <a href="../doc/TRA15thintschcomp_rountine.pdf" class="style32"><br>
					      規定動作套路</a> - <br>
					        <a href="../doc/TRA15thintschcomp_rundown.pdf" class="style32">場刊(修訂版)</a> - <a href="../doc/TRA15thsecResult.pdf" class="style32">成績</a><br>
					    </p>					      </td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">10,25/5/2014</div></td>
					    <td><div align="center">Samsung第57屆體育節 - <br>
					      2014香港彈網分齡賽 </div></td>
					    <td><div align="center">港灣道體育館</div></td>
					    <td><p class="style32"><a href="../doc/TRAagegroup2014.pdf" class="style32">章程及報名表</a> - <a href="../doc/TRAagegroup2014_rountine.pdf" class="style32"><br>
					      規定動作套路</a> - <br>
					      <a href="../doc/TRAagegroup2014rundown.pdf" class="style32">場刊</a> - <a href="../doc/TRAagegroup2014result.pdf">成績</a> </p>
					      <p style="color:red">*<span class="style43">*領隊會時間由原定五月三日下午一時至三時改為同日<strong>下午二時至四時</strong>**</span></p></td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">11/5/2014</div></td>
					    <td><div align="center">第十一屆學界健美體操比賽</div></td>
					    <td><div align="center">蕙荃體育館</div></td>
					    <td><a href="../doc/AERintsch competition 2014 agenda.pdf">章程及報名表</a> - <a href="../doc/AERintsch competition 2014 Rule &amp; Regulation.pdf"><br>
					      比賽規則(修訂版)</a> - <br>
					     
					      <a href="../doc/AER14intschmeeting.pdf">領隊會議記錄</a> - <br>					      <a href="../doc/AER14rundown.pdf">比賽時間</a> - <a href="../doc/AER14intschorder.pdf">出場序</a>	 - <a href="../doc/AER14result.pdf">成績</a>				    
					  </td></tr><tr>
					    <td height="23"><div align="center">11/5/2014</div></td>
					    <td><div align="center">Samsung第57屆體育節 - <br>
					      2014年香港技巧體操公開賽</div></td>
					    <td><div align="center">馬鞍山體育館</div></td>
					    <td><a href="../doc/ACROopen2014.pdf" class="style32">章程及報名表</a> - <br>

					    <a href="../doc/ACROopen2014_act.pdf" class="style32">動作表</a>
					    - <a href="../doc/ACROopen2014_card.pdf" class="style32">比賽卡</a>					  </td></tr>
					  <tr>
                        <td height="23"><div align="center">17-18/5/2014</div></td>
					    <td><div align="center">Samsung第57屆體育節 - <br>
					      2014年全港學界藝術體操比賽<br>
                        </div></td>
					    <td><div align="center">蕙荃體育館</div></td>
					    <td><a href="../doc/RGinstsch2014.pdf" class="style32">章程</a> - <a href="../doc/RGinstsch2014_regulation.pdf" class="style32">競賽要求</a> <a><br>
                            </a><a href="../doc/RGinstsch2014_pri.pdf" class="style32">小學組報名表<br>
                          </a> <a href="../doc/RGinstsch2014_sec.pdf" class="style32">中學組報名表</a><br> 
                          <a href="../doc/RGintsch2014Rundown.pdf" class="style32">比賽時間表<br>
                          </a><a href="../doc/RGintsch2014priresult.pdf" class="style32">小學組成績</a> - <a href="../doc/RGintsch2014secresult.pdf" class="style32">中學組成績</a></td>
					    </tr>
					  <tr>
                        <td height="23"><div align="center">8/6/2014</div></td>
					    <td><div align="center">2014年香港普及體操節<br>
                        </div></td>
					    <td><div align="center">伊利沙伯體育館</div></td>
					    <td><a href="../doc/Prospectus_GFA Festival 2014.pdf" class="style32">章程及報名表</a><a><br>
                            </a><a href="../doc/introduction2014.doc" class="style32">表演介紹</a> - <a></a><a href="../doc/RGopen2013_photography.pdf">申請拍攝指引</a><br>
                           <a href="../doc/namelist2014.doc" class="style32">參加者及工作人員名單<br>
                          </a><a href="../doc/2014gfaticket.pdf">門票申請</a> - <a href="../doc/GFAfestival2014result.pdf">成績</a> </td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">12/7/2014</div></td>
					    <td><div align="center">學校體育推廣計劃 - 藝術體操比賽2014</div></td>
					    <td><div align="center">蕙荃體育館</div></td>
					    <td><a href="../doc/GM+Comp+Propsectus.pdf">章程及報名表</a></td>
					    </tr>
                  </tbody>
    </table>
    <%- partial('./partial/links.ejs') %>
  <div>
</section>
