<section class="content competition w-100">
  <h5 class="main-heading1">本地<span class="highlight">比賽</span></h5>
  <div class="container-fluid">
    <p class="lead text-center font-weight-bold" style="color:#163457">本地比賽消息<br>2014/2015年度比賽時間表</p>

    <table class="w-100 table table-striped">
      <caption>*比賽時間如有更改, 本會將另行公佈</caption>
<tbody><tr>
                        <td width="16%" height="23"><div align="center"><strong>日期</strong></div></td>
                        <td width="41%"><div align="center"><strong>活動／賽事</strong></div></td>
                        <td width="19%"><div align="center"><strong>場地</strong></div></td>
                        <td width="24%">&nbsp;</td>
                      </tr>
					  <tr>
					    <td height="23"><div align="center">31/5/2015</div></td>
					    <td><div align="center">2015年香港普及體操節</div></td>
					    <td><div align="center">伊利沙伯體育館</div></td>
					    <td class="style42"><a href="../doc/GFAfestival2015.pdf" class="style42">章程及報名</a> - <a href="../doc/GFAfestival2015intro.docx" class="style42">表演介紹</a> - <a href="../doc/GFAfestival2015namelist.doc" class="style42"><br>
					      參加者及工作人員名單</a></td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">16-17/5/2015</div></td>
					    <td><div align="center">第五十八屆體育節 - <br>
					      2015年全港學界藝術體操比賽<br>
					      </div></td>
					    <td><div align="center">蕙荃體育館</div></td>
					    <td class="style39"><p><span class="f01_news_002"><a href="../doc/RGintsch2015.pdf" class="style42">章程</a> - <a href="../doc/RGintsch2015_sec.pdf" class="style42">中學組報名表</a> - <a href="../doc/RGintsch2015_pri.pdf" class="style42">小學組報名表</a> - <a href="../doc/RGintsch2015_regulation.pdf" class="style42">競賽要求</a></span><br>
					      <a href="../doc/RGopen2013_photography.pdf">申請拍攝指引</a></p>
					      <p style="color:red">註: 將以<strong><u>新套路</u></strong>進行比賽<br>
					      </p></td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">9-10/5/2015</div></td>
					    <td><div align="center">第五十八屆體育節 - <br>
					       2015年彈網分齡賽    <br>
					      <br>
					      </div></td>
					    <td><div align="center">港灣道體育館</div></td>
					    <td class="style32"><span class="f01_news_002"><a href="../doc/TRAagegroup2015.pdf" class="style42">章程及報名表 </a> - <a href="../doc/TRAagegroup2015rountine.pdf" class="style42">動作表</a></span></td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">3/5/2015</div></td>
					    <td><div align="center">第五十八屆體育節 - <br>
					      2015年全港技巧體操公開賽 </div></td>
					    <td><div align="center">馬鞍山體育館</div></td>
					    <td class="style42"><a href="../doc/ACROopen2015.pdf" class="style42">章程及時間表 </a> - <a href="../doc/ACROopen2015competition.pdf" class="style42">動作表</a> - <a href="../doc/ACROopen2015rountine.pdf" class="style42"><br>
					      比賽卡</a></td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">2/5/2015</div></td>
					    <td><div align="center">第十二屆學屆健美體操比賽</div></td>
					    <td><div align="center">蕙荃體育館</div></td>
					    <td class="style42"><span class="style43 style32"><a href="../doc/AERintsch2015.pdf" class="style42">章程及報名表</a> - <a href="../doc/AERintsch2015rules.pdf" class="style42">比賽規則</a> - <a href="p6_demo.htm" class="style42">規定套路示範</a></span></td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">29/3, 3/4/2015 </div></td>
					    <td><div align="center">第十六屆香港中學彈網錦標賽</div></td>
					    <td><div align="center">港灣道體育館</div></td>
					    <td class="style32"><a href="../doc/TRAsecsch2015.pdf" class="style42">章程及報名表</a> - <a href="../doc/TRAsecsch2015routine.pdf" class="style42"><br>
					      規定動作套路</a> - <a href="../doc/TRAsecsch2015rundown2.pdf" class="style42">場刊(修訂)</a>決賽名單 - <a href="../doc/TRAsecsch2015men.pdf" class="style42">男子</a> - <a href="../doc/TRAsecsch2015women.pdf" class="style42">女子(修訂版)<br>
					      </a>成績 - <a href="../doc/TRAsecsch2015menresult.pdf" class="style42">男子</a> - <a href="../doc/TRAsecsch2015womenresult.pdf" class="style42">女子</a></td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">5-9/2/2015</div></td>
					    <td><div align="center">2015年全港競技體操公開及新秀比賽<br>
					      暨趙惠中盃</div></td>
					    <td><div align="center">馬鞍山體育館</div></td>
					    <td class="style32"><p><a href="../doc/AGopen2015.pdf" class="style38"><span class="style32">章程及報名表</span></a> - <a href="../doc/AGopen2015rulesandregulationrevised.pdf" class="style38">評分要求及器械規則(修訂)</a> - <a href="../doc/AGopen2015schedule.pdf" class="style38">時間表</a> - <a href="../doc/AGopen2015orderrevised.pdf" class="style38">出場序(修訂)</a> - <a href="../doc/AGopen2015reminder.pdf" class="style38">注意事項<br>
                        </a></p>
					      <p>成績</p>
					      <p><a href="../doc/AGopen2015mintsenior.pdf" class="style38">男子國際(成年)</a><br>
					      <a href="../doc/AGopen2015wintsenior.pdf" class="style38">女子國際(成年)</a><br>
					      <a href="../doc/AGopen2015mintjunior.pdf" class="style38">男子國際(少年)</a><br>
					      <a href="../doc/AGopen2015wintjunior.pdf" class="style38">女子國際(少年)</a><br>
					      <a href="../doc/AGopen2015msenior.pdf" class="style38">男子公開(青年)</a><br>
					      <a href="../doc/AGopen2015wsenior.pdf" class="style38">女子公開(青年)</a><br>
						  <a href="../doc/AGopen2015mjunior.pdf" class="style38">男子公開(少年)</a><br>
						  <a href="../doc/AGopen2015wjunior.pdf" class="style38">女子公開(少年)</a><br>
					      <a href="../doc/AGopen2015melementary.pdf" class="style38">男子初級</a><br>
					      <a href="../doc/AGopen2015welementary.pdf" class="style38">女子初級</a><br>
					      <a href="../doc/AGopen2015mnovice.pdf" class="style38">男子新秀</a><br>
					      <a href="../doc/AGopen2015wnovice.pdf" class="style38">女子新秀</a></p>
					      </td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">25/1/2015</div></td>
					    <td><div align="center">2015年全港技巧體操分齡賽</div></td>
					    <td><div align="center">馬鞍山體育館</div></td>
					    <td class="style38"><a href="../doc/ACROagegroup2015.pdf" class="style38">章程及報名表</a> - <a href="../doc/ACROagegroup2015rountine.pdf" class="style38">動作表</a> - <a href="../doc/ACROagegroup2015result.pdf" class="style38"><br>
					      成績</a></td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">6/12/2014</div></td>
					    <td><div align="center">2014年幼兒普及體操示範及同樂</div></td>
					    <td><div align="center">馬鞍山體育館</div></td>
					    <td class="style38"><a href="../doc/GFAkidfest2014.pdf" class="style32">章程及報名表</a> - <a href="../doc/GFAkidfest2014result.pdf" class="style32">成績</a>
					  </td></tr><tr>
					    <td height="23" bgcolor="#e6edf5"><div align="center">29-30/11/2014</div></td>
					    <td bgcolor="#e6edf5"><div align="center">2014年全港彈網公開錦標賽</div></td>
					    <td bgcolor="#e6edf5"><div align="center">港灣道體育館</div></td>
					    <td class="style38"><a href="../doc/TRAopen2014.pdf" class="style32">章程及報名表</a> - <a href="../doc/TRAopen2014rundown.pdf" class="style32">場刊</a> - <a href="../doc/TRAopen2014result.pdf" class="style32">成績</a></td></tr><tr>
	        					    <td height="23"><div align="center">16/11/2014</div></td>
	        					    <td><div align="center">2014年全港十八區健美體操分齡比賽</div></td>
	        					    <td><div align="center">蕙荃體育館</div></td>
        					    <td class="style38"><a href="../doc/AERagegroup2014agenda.pdf" class="style38">章程及報名表</a> - <a href="../doc/AERagegroup2014rules.pdf" class="style38"> 比賽規則</a><br><a href="../doc/AERagegroup2014rundown.pdf" class="style38">程序</a> - <a href="../doc/AERagegroup2014order.pdf" class="style38">場刊</a> - <a href="../doc/AERagegroup2014result.pdf" class="style38">成績</a></td></tr>
					  <tr>
					    <td height="23"><div align="center">8-9/11/2014</div></td>
					    <td><div align="center">2014年全港藝術體操公開賽</div></td>
					    <td><div align="center">蕙荃體育館</div></td>
					    <td class="style38"><a href="../doc/RGopen201415agendarevised.pdf" class="style32">章程(修訂)</a> - 
                          <a href="../doc/RGopen201415application.pdf" class="style32">報名表</a> -<br>                          <a href="../doc/RGopen201415regulationsrevised.pdf" class="style32">競賽要求</a><a href="../doc/RGopen201415agendarevised.pdf" class="style32">(修訂)</a> - <a></a><a href="../doc/RGopen2013_photography.pdf"><br>
                          申請拍攝指引 </a> - <a href="../doc/RGopen2014rundown.pdf">場刊</a></td>
					    </tr>
					  <tr>
                        <td height="23"><div align="center">12/7/2014</div></td>
					    <td><div align="center">學校體育推廣計劃 - 藝術體操比賽2014</div></td>
					    <td><div align="center">蕙荃體育館</div></td>
					    <td class="style38"><a href="../doc/GM+Comp+Propsectus.pdf">章程及報名表 </a> - <a href="../doc/SSPCOMP2014_rundown.pdf">場刊</a></td>
					    </tr>
					  <tr>
                        <td height="23"><div align="center">8/6/2014</div></td>
					    <td><div align="center">2014年香港普及體操節<br>
                        </div></td>
					    <td><div align="center">伊利沙伯體育館</div></td>
					    <td class="style38"><a href="../doc/Prospectus_GFA Festival 2014.pdf" class="style32">章程及報名表</a><a><br>
                            </a><a href="../doc/introduction2014.doc" class="style32">表演介紹</a> - <a></a><a href="../doc/RGopen2013_photography.pdf">申請拍攝指引</a><br>
                             <a href="../doc/namelist2014.doc" class="style32">參加者及工作人員名單<br>
                          </a><a href="../doc/2014gfaticket.pdf">門票申請</a> - <a href="../doc/GFAfestival2014result.pdf">成績</a> </td>
					    </tr>
					  <tr>
                        <td height="23"><div align="center">17-18/5/2014</div></td>
					    <td><div align="center">Samsung第57屆體育節 - <br>
					      2014年全港學界藝術體操比賽<br>
                        </div></td>
					    <td><div align="center">蕙荃體育館</div></td>
					    <td class="style38"><a href="../doc/RGinstsch2014.pdf" class="style32">章程</a> - <a href="../doc/RGinstsch2014_regulation.pdf" class="style32">競賽要求</a> <a><br>
                            </a><a href="../doc/RGinstsch2014_pri.pdf" class="style32">小學組報名表<br>
                            </a> <a href="../doc/RGinstsch2014_sec.pdf" class="style32">中學組報名表</a><br>
                            <a href="../doc/RGintsch2014Rundown.pdf" class="style32">比賽時間表<br>
                          </a><a href="../doc/RGintsch2014priresult.pdf" class="style32">小學組成績</a> - <a href="../doc/RGintsch2014secresult.pdf" class="style32">中學組成績</a></td>
					    </tr>
					  <tr>
                        <td height="23"><div align="center">11/5/2014</div></td>
					    <td><div align="center">Samsung第57屆體育節 - <br>
					      2014年香港技巧體操公開賽</div></td>
					    <td><div align="center">馬鞍山體育館</div></td>
					    <td class="style38"><a href="../doc/ACROopen2014.pdf" class="style32">章程及報名表</a> - <br>
                            <a href="../doc/ACROopen2014_act.pdf" class="style32">動作表</a> - <a href="../doc/ACROopen2014_card.pdf" class="style32">比賽卡</a>                       					    </td></tr><tr>
                        <td height="23"><div align="center">11/5/2014</div></td>
					    <td><div align="center">第十一屆學界健美體操比賽</div></td>
					    <td><div align="center">蕙荃體育館</div></td>
					    <td class="style38"><a href="../doc/AERintsch competition 2014 agenda.pdf" class="style38">章程及報名表</a> - <a href="../doc/AERintsch competition 2014 Rule &amp; Regulation.pdf" class="style38"><br>
					      比賽規則(修訂版)</a> - <br>
					      <a href="../doc/AER14intschmeeting.pdf" class="style38">領隊會議記錄</a> - <br>
					      <a href="../doc/AER14rundown.pdf" class="style38">比賽時間</a> - <a href="../doc/AER14intschorder.pdf" class="style38">出場序</a> - <a href="../doc/AER14result.pdf">成績</a>
					  </td></tr><tr>
                        <td height="23"><div align="center">10,25/5/2014</div></td>
					    <td><div align="center">Samsung第57屆體育節 - <br>
					      2014香港彈網分齡賽 </div></td>
					    <td><div align="center">港灣道體育館</div></td>
					    <td class="style38"><p class="style32"><a href="../doc/TRAagegroup2014.pdf" class="style32">章程及報名表</a> - <a href="../doc/TRAagegroup2014_rountine.pdf" class="style32"><br>
					      規定動作套路</a> - <br>
					      <a href="../doc/TRAagegroup2014rundown.pdf" class="style32">場刊</a> - <a href="../doc/TRAagegroup2014result.pdf">成績</a></p></td>
					    </tr>
					  <tr>
                        <td height="23"><div align="center">12-13/4/2014 </div></td>
					    <td><div align="center">第十五屆香港中學彈網錦標賽</div></td>
					    <td><div align="center">港灣道體育館</div></td>
					    <td class="style32"><p><a href="../doc/TRA15thintschcomp_agenda.pdf" class="style32">章程及報名表</a> - <a href="../doc/TRA15thintschcomp_rountine.pdf" class="style32"><br>
					      規定動作套路</a> - <br>
					      <a href="../doc/TRA15thintschcomp_rundown.pdf" class="style32">場刊(修訂版)</a> - <a href="../doc/TRA15thsecResult.pdf" class="style32">成績</a><br>
                        </p></td>
					    </tr>
					  <tr>
                        <td height="23"><div align="center">12-13/4/2014</div></td>
					    <td><div align="center">2013-2014年度全港中學校際體操比賽</div></td>
					    <td><div align="center">馬鞍山體育館</div></td>
					    <td class="style38"><a href="../doc/AGinterschools1314_sec_boysroutine.pdf">男子組動作</a> - <br>
                          <a href="../doc/AGinterschools1314_sec_girlsroutine revised.pdf">女子組動作(修訂版)</a></td>
					    </tr>
					  <tr class="f01_L18_002">
                        <td height="23"><div align="center">5-6,12-13/4/2014</div></td>
					    <td><div align="center">2013-2014年度全港小學校際體操比賽</div></td>
					    <td><div align="center">馬鞍山體育館</div></td>
					    <td class="style38"><a href="../doc/AGinterschools1314_pri_boysroutine.pdf">男子組動作</a> <span class="style38">-</span> <a href="../doc/AGinterschools1314_pri_girlsroutine revised2.pdf"><br>
					      女子組動作(修訂版二)</a></td>
					    </tr>
                  </tbody>
    </table>
    <%- partial('./partial/links.ejs') %>
  <div>
</section>
