<section class="content competition w-100">
  <h5 class="main-heading1">本地<span class="highlight">比賽</span></h5>
  <div class="container-fluid">
    <p class="lead text-center font-weight-bold" style="color:#163457">本地比賽消息<br>2015/2016年度比賽時間表</p>

    <table class="w-100 table table-striped">
      <caption>*比賽時間如有更改, 本會將另行公佈</caption>
<tbody><tr>
                        <td width="16%" height="23"><div align="center"><strong>日期</strong></div></td>
                        <td width="41%"><div align="center"><strong>活動／賽事</strong></div></td>
                        <td width="19%"><div align="center"><strong>場地</strong></div></td>
                        <td width="24%">&nbsp;</td>
                      </tr>
					  <tr>
					    <td><p align="center">29/5/2016</p></td>
					    <td><p align="center">2016年香港普及體操節 </p></td>
					    <td><p align="center">伊利沙伯體育館 </p></td>
					    <td class="style42"><div align="left"><a href="../doc/GFA2016.pdf" class="style42">章程</a> - <a href="../doc/GFA2016app.pdf" class="style42">報名表</a> - <a href="../doc/GFA2016intro.doc" class="style42">表演簡介</a> - <a href="../doc/GFA2016name.doc" class="style42 style45">參加者及工作人員名單(表格)</a></div></td>
					    </tr>
					  <tr>
					    <td><p align="center">23-24/4/2016</p></td>
					    <td><p align="center">第五十九屆體育節 - <br>
					      2016年全港學界藝術體操比賽 </p></td>
					    <td><p align="center">蕙荃體育館 </p></td>
					    <td class="style42"><div align="left"><a href="../doc/RGint2016.pdf" class="style42">章程</a> - <a href="../doc/RGint2016regulation.pdf" class="style42">競賽要求</a> - <a href="../doc/RGint2016pri.pdf" class="style42"><br>
報名表(小學組)</a> - <a href="../doc/RGint2016sec.pdf" class="style42"><br>
報名表(中學組)</a> - <a href="../doc/RGint2016rundown.pdf" class="style42"><br>
場刊(修訂)</a></div></td>
					    </tr>
					  <tr>
					    <td><p align="center">15/5/2016</p></td>
					    <td><p align="center">第十三屆學界健美體操比賽 </p></td>
					    <td><p align="center">蕙荃體育館 </p></td>
					    <td class="style42"><div align="left">
					      <p><a href="../doc/AERint2016.pdf" class="style42">章程及報名表</a> - <a href="../doc/AERint2016regulation.pdf" class="style42">比賽規則</a><br>
					        <span class="style43 style32"><a href="../doc/AERint2016rundown.pdf" class="style42">時間表                          </a> - <a href="../doc/AERint2016order.pdf" class="style42">出場序</a></span><br>
					        </p>
					      </div></td>
					    </tr>
					  <tr>
					    <td><p align="center">14-15/5/2016</p></td>
					    <td><p align="center">第五十九屆體育節 -<br> 
					      2016年香港彈網分齡賽 </p></td>
					    <td><p align="center">港灣道體育館 </p></td>
					    <td class="style42"><div align="left"><a href="../doc/TRAagegroup2016.pdf" class="style42">章程及報名表</a> -                            <span class="style38"><a href="../doc/TRAagegroup2016rountine.pdf" class="style38"> 動作表</a></span> - <br>
					      <a href="../doc/TRAagegroup2016rundown.pdf" class="style38">場刊</a></div></td>
					    </tr>
					  <tr>
					    <td><p align="center">2-3/4/2016</p></td>
					    <td><p align="center">第十七屆香港中學彈網錦標賽 </p></td>
					    <td><p align="center">港灣道體育館 </p></td>
					    <td class="style42"><div align="center">
					      <p align="left"><a href="../doc/TRAsec2016.pdf" class="style42">章程及報名表</a> -<br> 
					        <span class="style38"><a href="../doc/TRAseccomp2016rountinere.pdf" class="style38"> 動作表(修訂)</a> - <a href="../doc/TRAseccomp2016rundown.pdf" class="style38"> 場刊</a></span> <span class="style38">- <a href="../doc/TRAseccomp2016result.pdf" class="style38">成績</a></span></p>
					      <p align="left"><span style="color:red">為提高彈網體操運動的普及性，香港中學彈網錦標賽甲組賽事套路的難度下調，並於2016年4月2至3日第十七屆香港中學彈網錦標賽實行。</span><span class="style32"><a href="../doc/TRAseccomp2016newrountine.pdf" class="style32"><br>
					        <span class="style44">新動作資料</span></a></span><span class="style44"></span></p>
					    </div></td>
					    </tr>
					  <tr>
                        <td><p align="center">13/3/2016</p></td>
					    <td><p align="center">第五十九屆體育節 - <br>
					      2016年全港技巧體操公開賽 </p></td>
					    <td><p align="center">馬鞍山體育館 </p></td>
					    <td class="style42"><div align="left"><a href="../doc/ACROopen2016.pdf" class="style42">章程及報名表</a> - <a href="../doc/ACROopen2016compcard.pdf" class="style42"><br>
					      比賽卡</a> - <span class="style38"><a href="../doc/ACROopen2016rountine.pdf" class="style38"> 動作表</a> - <a href="../doc/ACROopen2016result.pdf" class="style38">成績</a></span> </div></td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">3/1/2016</div></td>
					    <td><div align="center">2016年全港技巧體操分齡賽</div></td>
					    <td><div align="center">馬鞍山體育館</div></td>
					    <td class="style42"><div align="left"><a href="../doc/ACROagegroup2016revised.pdf" class="style42">章程及報名表(修訂)</a> - <a href="../doc/ACROagegroup2016compcard.pdf" class="style42"><br>
					      比賽卡</a> - <span class="style38"><a href="../doc/ACROagegroup2015rountine.pdf" class="style38">
					      動作表</a> - <a href="../doc/ACROagegroup2016result.pdf" class="style38">成績</a></span></div></td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">13/12/2015</div></td>
					    <td><div align="center">2015-16年度全港競技體操公開及新秀比賽
<br>
					    </div></td>
					    <td><div align="center">馬鞍山體育館</div></td>
					    <td class="style42"><div align="center">
					      <div class="style39">
					        <div align="left">
					          <p><span class="style42"><a href="../doc/AGopen2016.pdf" class="style42">章程及報名表</a> - <a href="../doc/AGopen2016rule2.pdf" class="style42"><br>
					            評分內容及器械規格(修訂)</a></span><br>
					            <a href="../doc/AGopenschedule1516.pdf" class="style42">比賽時間表</a><span class="style32"> -<a href="../doc/AGopenfinalorderrevised.pdf" class="style24"> 出場序(修訂)</a></span><a href="../doc/Remarks.pdf" class="style42"><br>
					            注意事項</a></p>
					          <p class="style42">成績<br>
<a href="../doc/AGopen2016mss.pdf" class="style24">男子公開(青年)組</a><br>
<a href="../doc/AGopen2016wss.pdf" class="style24">女子公開(青年)組</a><br>
<a href="../doc/AGopen2016ms.pdf" class="style24">男子公開(少年)組</a><br>
<a href="../doc/AGopen2016ws.pdf" class="style24">女子公開(少年)組</a><br>
<a href="../doc/AGopen2016mj.pdf" class="style24">男子初級組</a><br>
<a href="../doc/AGopen2016wj.pdf" class="style24">女子初級組</a><br>
<a href="../doc/AGopen2016mn.pdf" class="style24">男子新秀組</a><br>
<a href="../doc/AGopen2016wn.pdf" class="style24">女子新秀組</a></p>
					          </div>
					      </div>
					      <div><br>
					        </div>
					      <div></div>
					    </div></td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">5 - 6/12/2015</div></td>
					    <td><div align="center">2015年全港彈網公開錦標賽</div></td>
					    <td><div align="center">港灣道體育館</div></td>
					    <td class="style42"><div align="left"><a href="../doc/TRAopen2015.pdf" class="style42">章程及報名表</a> - <a href="../doc/TRAopen2015rundown.pdf" class="style42">場刊</a> - <a href="../doc/TRAopen2015result.pdf" class="style42">成績 </a></div></td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">14 - 15/11/2015</div></td>
					    <td><div align="center">2015年全港藝術體操公開賽</div></td>
					    <td><div align="center">蕙荃體育館</div></td>
					    <td class="style42"><div align="left">
					      <p><a href="../doc/RGopen2015re.pdf" class="style42">章程(修訂)</a> - <a href="../doc/RGopen2015rule.pdf" class="style42">競賽要求</a> - <a href="../doc/RGopen2015app.pdf" class="style42"><br>
					        報名表</a> - <a href="../doc/RGopen2015rundown.pdf" class="style42">場刊</a> - <a href="../doc/RGopen2015result.pdf" class="style42">成績</a></p>
					      <p class="style39">賽前會議將改於
					        二零一五年十月二十九日(星期四)，晚上八時正假奧運大樓舉行</p>
					    </div></td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">8/11/2015</div></td>
					    <td><div align="center">2015年全港十八區健美體操分齡比賽</div></td>
					    <td><div align="center">蕙荃體育館</div></td>
					    <td class="style42"><div align="left" class="style42"><a href="../doc/AERagegroup2015.pdf" class="style42">章程及報名表</a> - <a href="../doc/AERagegroup2015rule.pdf" class="style42">比賽規則</a><br>
					    <a href="../doc/AERagegroup2015order.pdf" class="style42">出場序</a>- <a href="../doc/AERagegroup2015timetable.pdf" class="style42">時間表</a> - <a href="../doc/AERagegroup2015result.pdf" class="style42">成績</a><br>
					      <br>
					    </div></td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">16 - 20/7/2015 </div></td>
					    <td><div align="center">香港彈網國際邀請賽2015</div></td>
					    <td><div align="center">烏溪沙青年新村</div></td>
					    <td class="style42"><div align="left"><a href="../doc/TRA2015ticket.pdf" class="style32">門票申請</a> - <a href="../doc/TRA2015result.pdf" class="style32">成績</a></div></td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">11/7/2015</div></td>
					    <td><div align="center">學校體育推廣計劃 - 藝術體操比賽2015</div></td>
					    <td><div align="center">蕙荃體育館</div></td>
					    <td class="style42"><a href="../doc/RGsspcomp2015.pdf" class="style42">章程及報名表</a> - <a href="../doc/RGsspcomp2015rundown.pdf" class="style42">場刊</a> - <a href="../doc/RGsspcomp2015result.pdf" class="style42">成績</a></td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">31/5/2015</div></td>
					    <td><div align="center">2015年香港普及體操節</div></td>
					    <td><div align="center">伊利沙伯體育館</div></td>
					    <td class="style42"><a href="../doc/GFAfestival2015.pdf" class="style42">章程及報名表</a> - <a href="../doc/GFAfestival2015intro.docx" class="style42">表演介紹</a> - <a href="../doc/GFAfestival2015namelist.doc" class="style42"><br>
					      參加者及工作人員名單</a> -<br> 
					      <a href="../doc/GFAfestival2015lunchbox.pdf" class="style42">午膳飯盒訂購表</a> - <a href="../doc/GFAfestival2015rehersal.pdf" class="style42">綵排序</a> - <a href="../doc/GFAfestival2015order.pdf" class="style42">出場序</a> - <a href="../doc/GFAfestival2015reminder.pdf" class="style42">注意事項</a> - <a href="../doc/GFAfestival2015sittingplan.pdf" class="style42">座位表</a><br>
					      <a href="../doc/GFAfestival2015resultpri.pdf" class="style42">成績</a></td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">16-17/5/2015</div></td>
					    <td><div align="center">第五十八屆體育節 - <br>
					      2015年全港學界藝術體操比賽<br>
					      </div></td>
					    <td><div align="center">蕙荃體育館</div></td>
					    <td class="style39"><p><span class="f01_news_002"><a href="../doc/RGintsch2015.pdf" class="style42">章程</a> - <a href="../doc/RGintsch2015_sec.pdf" class="style42">中學組報名表</a> - <a href="../doc/RGintsch2015_pri.pdf" class="style42">小學組報名表</a> - <a href="../doc/RGintsch2015_regulation.pdf" class="style42">競賽要求</a></span><br>
					        <span class="style42"><a href="../doc/RGopen2013_photography.pdf">申請拍攝指引</a> - <a href="../doc/RGintsch2015rundown.pdf">場刊</a><br>
					        <a href="../doc/RGintsch2015resultprirev.pdf">成績(小學組)修訂</a><br>
                            <a href="../doc/RGintsch2015resultsec.pdf">成績(中學組)</a>					        </span>
					    </p><p>註: 將以<strong><u>新套路</u></strong>進行比賽<br>
					      </p></td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">9-10/5/2015</div></td>
					    <td><div align="center">第五十八屆體育節 - <br>
					       2015年彈網分齡賽    <br>
					      <br>
					      </div></td>
					    <td><div align="center">港灣道體育館</div></td>
					    <td class="style32"><span class="f01_news_002"><a href="../doc/TRAagegroup2015.pdf" class="style42">章程及報名表 </a> - <a href="../doc/TRAagegroup2015rountine.pdf" class="style42">動作表</a> - <br>
					      <a href="../doc/TRAagegroup2015rundown.pdf" class="style42">場刊(修訂)</a> - <a href="../doc/TRAagegroup2015result.pdf" class="style42">成績</a></span></td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">3/5/2015</div></td>
					    <td><div align="center">第五十八屆體育節 - <br>
					      2015年全港技巧體操公開賽 </div></td>
					    <td><div align="center">馬鞍山體育館</div></td>
					    <td class="style42"><a href="../doc/ACROopen2015.pdf" class="style42">章程及時間表 </a> - <a href="../doc/ACROopen2015competition.pdf" class="style42">動作表</a> - <a href="../doc/ACROopen2015rountine.pdf" class="style42"><br>
					      比賽卡</a> - <a href="../doc/ACROopen2015result.pdf" class="style42">成績</a></td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">2/5/2015</div></td>
					    <td><div align="center">第十二屆學屆健美體操比賽</div></td>
					    <td><div align="center">蕙荃體育館</div></td>
					    <td class="style42"><span class="style43 style32"><a href="../doc/AERintsch2015.pdf" class="style42">章程及報名表</a> - <a href="../doc/AERintsch2015rules.pdf" class="style42">比賽規則</a> - <a href="p6_demo.htm" class="style42">規定套路示範</a> - <a href="../doc/AERintsch2015rundown.pdf" class="style42">時間表<br>
					    </a><a href="../doc/AERintsch2015order.pdf" class="style42">出場序</a> - <a href="../doc/AERintsch2015result.pdf" class="style42">成績</a></span></td>
					    </tr>
					  <tr>
					    <td height="23"><div align="center">29/3, 3/4/2015 </div></td>
					    <td><div align="center">第十六屆香港中學彈網錦標賽</div></td>
					    <td><div align="center">港灣道體育館</div></td>
					    <td class="style32"><a href="../doc/TRAsecsch2015.pdf" class="style42">章程及報名表</a> - <a href="../doc/TRAsecsch2015routine.pdf" class="style42"><br>
					      規定動作套路</a> - <a href="../doc/TRAsecsch2015rundown2.pdf" class="style42">場刊(修訂)</a>決賽名單 - <a href="../doc/TRAsecsch2015men.pdf" class="style42">男子</a> - <a href="../doc/TRAsecsch2015women.pdf" class="style42">女子(修訂版)<br>
					      </a>成績 - <a href="../doc/TRAsecsch2015menresult.pdf" class="style42">男子</a> - <a href="../doc/TRAsecsch2015womenresult.pdf" class="style42">女子</a></td>
					    </tr>
                  </tbody>
    </table>
    <%- partial('./partial/links.ejs') %>
  <div>
</section>
