<section class="content competition w-100">
  <h5 class="main-heading1">本地<span class="highlight">比賽</span></h5>
  <div class="container-fluid">
    <p class="lead text-center font-weight-bold" style="color:#163457">本地比賽消息<br>2016/2017年度比賽時間表</p>

    <table class="w-100 table table-striped">
      <caption>*比賽時間如有更改, 本會將另行公佈</caption>
<tbody><tr>
                        <td width="16%" height="23"><div align="center"><strong>日期</strong></div></td>
                        <td width="41%"><div align="center"><strong>活動／賽事</strong></div></td>
                        <td width="19%"><div align="center"><strong>場地</strong></div></td>
                        <td width="24%">&nbsp;</td>
                      </tr>
					  <tr>
					    <td><div align="center">8-9/7/2017</div></td>
					    <td><div align="center">第十八屆香港中學彈網錦標賽</div></td>
					    <td><div align="center">港灣道體育館</div></td>
					    <td class="style42">&nbsp;</td>
					    </tr>
					  <tr>
					    <td><div align="center">4/6/2017</div></td>
					    <td><div align="center">第六十屆體育節 – <br>
					      2017年香港技巧體操公開賽</div></td>
					    <td><div align="center">馬鞍山體育館</div></td>
					    <td class="style42"><a href="../doc/ACROOpen2017.pdf" class="style42">章程及報名表</a> - <br><a href="../doc/ACROOpen2017CompCard.pdf" class="style42">比賽卡</a> - <a href="../doc/ACROOpen2017Routine.pdf" class="style42">動作圖</a>
					    </td></tr>
					  <tr>
					    <td><div align="center">28/5/2017</div></td>
					    <td><div align="center">2017年香港普及體操節</div></td>
					    <td><div align="center">伊利沙伯體育館</div></td>
					    <td class="style42"><a href="../doc/GFA2017.pdf" class="style42">章程</a> - <a href="../doc/GFA2017form.pdf" class="style42">報名表</a> - <a href="../doc/GFA2017intro.pdf" class="style42"><br>
					      表演介紹(表格) </a>-<br> 
					      <a href="../doc/GFA2017name.pdf" class="style42">參加者及工作人員名單(表格)</a></td>
					    </tr>
					  <tr>
					    <td><div align="center">20-21/5/2017</div></td>
					    <td><div align="center">第六十屆體育節 – <br>
					      2017年全港學界藝術體操比賽</div></td>
					    <td><div align="center">蕙荃體育館</div></td>
					    <td class="style42"><a href="../doc/RGintsch2017.pdf" class="style42">章程</a> - <a href="../doc/RGintsch2017pri.pdf" class="style42">報名表(小學組)</a> - <a href="../doc/RGintsch2017sec.pdf" class="style42"><br>
					      報名表(中學組)</a> - <a href="../doc/RGintsch2017rule.pdf" class="style42">競賽要求</a> - <a href="../doc/RGintsch2017scoresheet.pdf" class="style42">難度表</a> - <a href="../doc/RGintsch2017scoresheet_sample.pdf" class="style42">難度表 (樣本)</a></td>
					    </tr>
					  <tr>
					    <td><div align="center">29-30/4/2017</div></td>
					    <td><div align="center">第六十屆體育節 – 2017年全港彈網分齡賽<br>
					    </div></td>
					    <td><div align="center">港灣道體育館</div></td>
					    <td class="style42"><a href="../doc/TRAagegroup2017.pdf" class="style42">章程及報名表</a> - <a href="../doc/TRAagegroup2017routine.pdf" class="style42">規定動作<br>
					    </a><a href="../doc/TRAagegroup2017rundown.pdf" class="style42">場刊</a></td>
					    </tr>
					  <tr>
					    <td><div align="center">23/4/2017</div></td>
					    <td><div align="center">第十四屆學界健美體操比賽</div></td>
					    <td><div align="center">蕙荃體育館</div></td>
					    <td class="style42"><a href="../doc/AERintsch2017.pdf" class="style42">章程及報名表</a> - <span class="f01_news_003"><a href="../doc/ACROagegroup2017rountinerevised.pdf" class="style38"></a><a href="../doc/AERintschrule2017.pdf" class="style42">比賽規則</a><a href="../doc/AERinterschool2017schedule.pdf" class="style42"><br>
					      時間表</a> - <a href="../doc/AERinterschool2017order.pdf" class="style42">出場序</a> - <a href="../doc/AERinterschool2017result.pdf" class="style42">成績</a></span></td>
					    </tr>
					  <tr>
					    <td><div align="center">19/2/2017
					      </div></td>
					    <td><div align="center">2017年全港技巧體操分齡賽</div></td>
					    <td><div align="center">馬鞍山體育館</div></td>
					    <td class="style42"><div align="left"><a href="../doc/ACROagegroup2017.pdf" class="style42">章程及報名表(修訂19/1/17)</a><a href="../doc/ACROagegroup2017compcard.pdf" class="style42"><br>
					      比賽卡</a> - <span class="style38"><a href="../doc/ACROagegroup2017rountinerevised.pdf" class="style38"> 動作表</a></span><a href="../doc/ACROagegroup2017revised.pdf" class="style42">(修訂19/1/17)</a></div></td>
					    </tr>
					  <tr>
					    <td><div align="center">14-15/1/2017</div></td>
					    <td><div align="center">2016-17年度全港競技體操公開及新秀比賽暨國際邀請賽(趙惠中盃)</div></td>
					    <td><div align="center">馬鞍山體育館</div></td>
					    <td class="style42"><div align="left">
					      <p><a href="../doc/AGopen2017.pdf" class="style38"><span class="style32">章程及報名表</span></a> - <br>
					          <a href="../doc/AGopen2017rulesandregulationMAG.pdf" class="style38">評分要求及器械規則(男子)</a><a href="../doc/AGopen2017rulesandregulationWAG.pdf" class="style38"><br>
					            評分要求及器械規則(女子)</a>- <a href="../doc/AGopen2017schedule.pdf" class="style42">時間表</a> - <a href="../doc/AGOpen2017order.pdf" class="style42">出場序</a><br>    
					        <br>    
					        成績<br>
					        <a href="../doc/AGOpen2017Mnovice.pdf" class="style42">男子新秀組</a><br>
					        <a href="../doc/AGOpen2017Wnovice.pdf" class="style42">女子新秀組</a><br>
					        <a href="../doc/AGOpen2017Melementary.pdf" class="style42">男子初級組</a><br>
					        <a href="../doc/AGOpen2017Welementary.pdf" class="style42">女子初級組</a><br>
					        <a href="../doc/AGOpen2017Mjunior.pdf" class="style42">男子公開組(少年)</a><br>
					        <a href="../doc/AGOpen2017Wjunior.pdf" class="style42">女子公開組(少年)</a><br>
					        <a href="../doc/AGOpen2017Msenior.pdf" class="style42">男子公開組(青年)</a><br>
					        <a href="../doc/AGOpen2017Wsenior.pdf" class="style42">女子公開組(青年)</a><br>
					        <a href="../doc/AGOpen2017MIjunior.pdf" class="style42">男子國際組(少年)</a><br>
                            <a href="../doc/AGOpen2017WIjunior.pdf" class="style42">女子國際組(少年)</a><br>
                            <a href="../doc/AGOpen2017MIsenior.pdf" class="style42">男子國際組(青年)</a><br>
                            <a href="../doc/AGOpen2017WIsenior.pdf" class="style42">女子國際組(青年)</a><br>
					      </p>
					      <p><br>
					        </p>
					    </div></td>
					    </tr>
					  <tr>
					    <td><div align="center">27/11/2016</div></td>
					    <td><div align="center">2016年全港十八區健美體操分齡比賽</div></td>
					    <td><div align="center">蕙荃體育館</div></td>
					    <td class="style42"><p><a href="../doc/AERagegroup2016.pdf" class="style42">章程及報名表</a> - <a href="../doc/AERagegroup2016rules.pdf" class="style42">比賽規則</a><br>
<a href="../doc/AERagegroup2016rundown.pdf" class="style42">時間表</a> - <a href="../doc/AERagegroup2016order.pdf" class="style42">出場序</a> - <a href="../doc/AERagegroup2016result.pdf" class="style42">成績</a></p></td>
					    </tr>
					  <tr>
					    <td><div align="center">19-20/11/2016</div></td>
					    <td><div align="center">2016-17年度全港藝術體操公開賽</div></td>
					    <td><div align="center">蕙荃體育館 </div></td>
					    <td class="style42"><div align="left">
					      <p><a href="../doc/RGopen2016-17.pdf" class="style42">章程</a> - <a href="../doc/RGopen2016-17regulations.pdf" class="style42">競賽要求</a> - <br>
					          <a href="../doc/RGopen2016-17indform.pdf" class="style42">個人項目報名表</a> - <a href="../doc/RGopen2016-17groupform.pdf" class="style42"><br>
					            集體項目報名表</a><br> 
					            <a href="../doc/RGopen2016-17rundown.pdf" class="style42">場刊</a> - <a href="../doc/RGopen2016result.pdf" class="style42">成績</a></p>
					      </div></td>
					    </tr>
					  <tr>
					    <td><div align="center">22-23/10/2016</div></td>
					    <td><div align="center">2016年度全港彈網公開錦標賽</div></td>
					    <td><div align="center">港灣道體育館</div></td>
					    <td class="style42"><div align="left">
					      <p><a href="../doc/TRAopen2016.pdf" class="style42">章程及報名表
        					              </a> - <a href="../doc/TRAopen2016rundown.pdf" class="style42">場刊</a> - <a href="../doc/TRAopen2016result.pdf" class="style42">成績</a><span class="style47"><br>
       					              </span></p>
					      </div></td>
					    </tr>
					  <tr>
					    <td><div align="center">16/7/2016</div></td>
					    <td><div align="center">學校體育推廣計劃 - 藝術體操比賽 2016</div></td>
					    <td><div align="center">蕙荃體育館 </div></td>
					    <td class="style42"><a href="../doc/RGsspcomp2016.pdf" class="style42">章程及報名表(修訂) <br>
					    </a><a href="../doc/Rgssprundown2016.pdf" class="style42">場刊</a></td>
					    </tr>
					  <tr>
					    <td><p align="center">29/5/2016</p></td>
					    <td><p align="center">2016年香港普及體操節 </p></td>
					    <td><p align="center">伊利沙伯體育館 </p></td>
					    <td class="style42"><div align="left">
					      <p><a href="../doc/GFA2016.pdf" class="style42">章程</a> - <a href="../doc/GFA2016app.pdf" class="style42">報名表</a> - <a href="../doc/GFA2016intro.doc" class="style42">表演簡介</a> - <a href="../doc/GFA2016name.doc" class="style42 style45">參加者及工作人員名單(表格)<br>
					      </a><a href="../doc/GFAfestival2016lunchbox.pdf" class="style42">午膳飯盒訂購表</a> -<br> 
					      <a href="../doc/GFAfestival2016rehersal2.pdf" class="style42">綵排序(修訂)</a> - <a href="../doc/GFAfestival2016order2.pdf" class="style42"><br>
					        出場序(修訂)</a> - <a href="../doc/GFAfestival2016reminder.pdf" class="style42">注意事項</a> - <a href="../doc/GFAfestival2016seatingplan.pdf" class="style42">座位表</a><br><a href="../doc/GFAfestival2016Rundown2.pdf" class="style42">活動流程(修訂)</a><br>
					        <br>
					        </p>
					      </div></td>
					    </tr>
					  <tr>
					    <td><p align="center">23-24/4/2016</p></td>
					    <td><p align="center">第五十九屆體育節 - <br>
					      2016年全港學界藝術體操比賽 </p></td>
					    <td><p align="center">蕙荃體育館 </p></td>
					    <td class="style42"><div align="left"><a href="../doc/RGint2016.pdf" class="style42">章程</a> - <a href="../doc/RGint2016regulation.pdf" class="style42">競賽要求</a> - <a href="../doc/RGint2016pri.pdf" class="style42"><br>
報名表(小學組)</a> - <a href="../doc/RGint2016sec.pdf" class="style42"><br>
報名表(中學組)</a> - <a href="../doc/RGint2016rundown.pdf" class="style42"><br>
場刊(修訂)</a></div></td>
					    </tr>
					  <tr>
					    <td><p align="center">15/5/2016</p></td>
					    <td><p align="center">第十三屆學界健美體操比賽 </p></td>
					    <td><p align="center">蕙荃體育館 </p></td>
					    <td class="style42"><div align="left">
					      <p><a href="../doc/AERint2016.pdf" class="style42">章程及報名表</a> - <a href="../doc/AERint2016regulation.pdf" class="style42">比賽規則</a><br>
					        <span class="style43 style32"><a href="../doc/AERint2016rundown.pdf" class="style42">時間表</a> - <a href="../doc/AERint2016order.pdf" class="style42">出場序</a> - <a href="../doc/AERint2016result.pdf" class="style38">成績</a></span> <br>
					        </p>
					      </div></td>
					    </tr>
					  <tr>
					    <td><p align="center">14-15/5/2016</p></td>
					    <td><p align="center">第五十九屆體育節 -<br> 
					      2016年香港彈網分齡賽 </p></td>
					    <td><p align="center">港灣道體育館 </p></td>
					    <td class="style42"><div align="left"><a href="../doc/TRAagegroup2016.pdf" class="style42">章程及報名表</a> -                            <span class="style38"><a href="../doc/TRAagegroup2016rountine.pdf" class="style38"> 動作表</a></span> - <br>
					      <a href="../doc/TRAagegroup2016rundown.pdf" class="style38">場刊</a> - <a href="../doc/TRAagegroup2016result.pdf" class="style38">成績</a></div></td>
					    </tr>
					  <tr>
					    <td><p align="center">2-3/4/2016</p></td>
					    <td><p align="center">第十七屆香港中學彈網錦標賽 </p></td>
					    <td><p align="center">港灣道體育館 </p></td>
					    <td class="style42"><div align="center">
					      <p align="left"><a href="../doc/TRAsec2016.pdf" class="style42">章程及報名表</a> -<br> 
					        <span class="style38"><a href="../doc/TRAseccomp2016rountinere.pdf" class="style38"> 動作表(修訂)</a> - <a href="../doc/TRAseccomp2016rundown.pdf" class="style38"> 場刊</a></span> <span class="style38">- <a href="../doc/TRAseccomp2016result.pdf" class="style38">成績</a></span></p>
					      <p align="left"><span style="color:red">為提高彈網體操運動的普及性，香港中學彈網錦標賽甲組賽事套路的難度下調，並於2016年4月2至3日第十七屆香港中學彈網錦標賽實行。</span><span class="style32"><a href="../doc/TRAseccomp2016newrountine.pdf" class="style32"><br>
					        <span class="style44">新動作資料</span></a></span><span class="style44"></span></p>
					    </div></td>
					    </tr>
                  </tbody>
    </table>
    <%- partial('./partial/links.ejs') %>
  <div>
</section>
