<section class="content competition w-100">
  <h5 class="main-heading1">本地<span class="highlight">比賽</span></h5>
  <div class="container-fluid">
    <p class="lead text-center font-weight-bold" style="color:#163457">本地比賽消息<br>2017/2018年度比賽時間表</p>

<table class="w-100 table table-striped">
<caption>*比賽時間如有更改, 本會將另行公佈</caption>
<tbody>
<tr>
  <td width="16%" height="23"><div align="center"><strong>日期</strong></div></td>
  <td width="41%"><div align="center"><strong>活動／賽事</strong></div></td>
  <td width="19%"><div align="center"><strong>場地</strong></div></td>
  <td width="24%">&nbsp;</td>
</tr>
<tr>
  <td><div align="center">25/3/2018</div></td>
    <td><div align="center">第十九屆中學彈網錦標賽</div></td>
    <td><div align="center">港灣道體育館</div></td>
    <td class="style42"><a href="../doc/19th TRA Secondary Schools Comp_Prospectus.pdf" class="style42">章程</a> - <a href="../doc/19th TRA Secondary Schools Comp_Application form.pdf" class="style42">報名表</a> - &nbsp;<a href="../doc/19th TRA Secondary Schools Comp__Compulsory routine.pdf">規定套路</a>- <span class="f01_news_003"><a href="../doc/Competition order_website.pdf" class="style42">出場序</a> - <a href="../doc/Programme_19th TRA Secondary Schools Comp.pdf" class="style42">場刊</a> - <a href="../doc/TRA_Result.pdf" class="style42">成績</a></span></td>
    </tr>
  <tr>
    <td><div align="center">11/2/2018</div></td>
    <td><div align="center">2018年全港技巧體操分齡賽</div></td>
    <td><div align="center">馬鞍山體育館</div></td>
    <td class="style42"><a href="../doc/ACROComp_2018.2.15.pdf" class="style42">成績</a></td>
  </tr>
  <tr>
    <td><div align="center">20-21/1/2018</div></td>
    <td><div align="center">
      <p>2018年全港競技體操公開及新秀比賽暨國際邀請賽(趙惠中盃)</p>
      </div></td>
    <td><div align="center">馬鞍山體育館</div></td>
    <td class="style42"><p><a href="../doc/Directives_AGLocalOpen2018_FinalCHI.pdf" class="style42">章程及報名表</a> <br>
      <a href="../doc/MAG_marking&amp;equipment.pdf" class="style42">男子評分準則<br>
      </a><a href="../doc/WAG_marking&amp;equipment.pdf" class="style42">女子評分準則</a></p>
  		      <p><a href="../doc/Web_WomenNovice2018.pdf" class="style42">成績(女子新秀組)</a> - <a href="../doc/Web_WomenElem2018.pdf" class="style42"><br>
成績(女子初級組)</a> - <br>
<a href="../doc/Web_WomenJunior2018.pdf" class="style42">成績(女子公開組(少年))</a> - <a href="../doc/Web_WomenSenior2018.pdf" class="style42"><br>
成績(女子公開組(青年))</a> - <br>
<a href="../doc/Revised_MenNovice2018.pdf" class="style42">成績(男子新秀組) <span style="color:red">(更新)</span> </a>- <a href="../doc/Web_MenElem2018.pdf" class="style42"><br>
成績(男子初級組)</a> - <br>
<a href="../doc/Web_MenJunior2018.pdf" class="style42">成績(男子公開組(少年))</a> - <a href="../doc/Web_MenSenior2018.pdf" class="style42"><br>
成績(男子公開組(青年))</a> -</p>
      <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td><div align="center">25-26/11/2017</div></td>
    <td><div align="center">2017年全港藝術體操公開賽</div></td>
    <td><div align="center">蕙荃體育館</div></td>
    <td class="style42"><p><a href="../doc/Prospectusrgopen2017.pdf" class="style42">章程</a> - <a href="../doc/Applicationformrgopne2017.pdf" class="style42">報名表</a> - &nbsp;<a href="../doc/Regulationrgopen 2017.pdf">競賽要求 </a><a href="../doc/Rundown2017updated.pdf" class="style42">場刊</a></p>
					      <p><a href="../doc/Pre.pdf" class="style42">成績(預備組)</a> - <a href="../doc/Grade 4.pdf" class="style42"><br>
成績(四級)</a> - <br>
<a href="../doc/Grade 3.pdf" class="style42">成績(三級)</a> - <a href="../doc/Grade 2.pdf" class="style42"><br>
成績(二級)</a> - <br>
<a href="../doc/Grade 1.pdf" class="style42">成績(一級)</a> - <a href="../doc/Group_5 balls.pdf" class="style42"><br>
成績(集體少年A組五人球)</a></p>
      <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td><div align="center">19/11/2017</div></td>
    <td><div align="center">2017年全港十八區健美體操分齡比賽</div></td>
    <td><div align="center">蕙荃體育館</div></td>
    <td class="style42"><p><a href="../doc/AERagegrouopcomp2017.pdf" class="style42">章程及報名表</a> - <a href="../doc/AERagegrouopcomp2017rule.pdf" class="style42">比賽規則</a> - <a href="../doc/AERcprundown2017updated.pdf" class="style42">賽程表及抽籤次序</a></p>
      <p><a href="../doc/IM.pdf" class="style42">成績(男子單人)</a> - <a href="../doc/IW.pdf" class="style42"><br>
成績(女子單人)</a> - <br>
<a href="../doc/MP.pdf" class="style42">成績(混合雙人)</a> - <a href="../doc/TRIO.pdf" class="style42"><br>
成績(三人)</a> - <br>
<a href="../doc/AD.pdf" class="style42">成績(有氧)</a> - <a href="../doc/Social.pdf" class="style42"><br>
成績(最佳社區參與獎)</a></p>
      <p>&nbsp;</p></td>
    </tr>
  <tr>
    <td><div align="center">7-8/10/2017</div></td>
    <td><div align="center">2017年全港彈網公開賽</div></td>
    <td><div align="center">港灣道體育館</div></td>
    <td class="style42"><a href="../doc/2017TRAOPEN.pdf" class="style42">章程及報名表</a> - <a href="../doc/TRAopencomp2017rundownrevised.pdf" class="style42">場刊</a></td>
  </tr>
  <tr>
    <td><div align="center">8-9/7/2017</div></td>
    <td><div align="center">第十八屆香港中學彈網錦標賽</div></td>
    <td><div align="center">港灣道體育館</div></td>
    <td class="style42"><a href="../doc/TRAseccomp2017.pdf" class="style42">章程及報名表(修訂)</a> - <br>
      <a href="../doc/TRAseccomp2017routine.pdf" class="style42">規定套路(修訂)<br>
      </a><a href="../doc/TRAseccomp2017rundown.pdf" class="style42">場刊</a></td>
  </tr>
  <tr>
    <td><div align="center">8/7/2017</div></td>
    <td><div align="center">學校體育推廣計劃 - 藝術體操比賽2017</div></td>
    <td><div align="center">蕙荃體育館</div></td>
    <td class="style42"><a href="../doc/SSPcomp2017.pdf" class="style42">章程及報名表</a>                      
    - <a href="../doc/sspcomprundown2017.pdf" class="style42">場刊</a> - <a href="../doc/ssprgcomp2017result.pdf" class="style42">成績</a>					  </td></tr>
  <tr>
    <td><div align="center">4/6/2017</div></td>
    <td><div align="center">第六十屆體育節 – <br>
      2017年香港技巧體操公開賽</div></td>
    <td><div align="center">馬鞍山體育館</div></td>
    <td class="style42"><a href="../doc/ACROOpen2017.pdf" class="style42">章程及報名表</a> - <br><a href="../doc/ACROOpen2017CompCard.pdf" class="style42">比賽卡</a> - <a href="../doc/ACROOpen2017Routine.pdf" class="style42">動作圖</a>					    </td></tr>
  <tr>
    <td><div align="center">28/5/2017</div></td>
    <td><div align="center">2017年香港普及體操節</div></td>
    <td><div align="center">伊利沙伯體育館</div></td>
    <td class="style42"><p><a href="../doc/GFA2017.pdf" class="style42">章程</a> - <a href="../doc/GFA2017form.pdf" class="style42">報名表</a> - <a href="../doc/GFA2017intro.pdf" class="style42"><br>
      表演介紹(表格) </a>-<br>					      
      <a href="../doc/GFA2017name.pdf" class="style42">參加者及工作人員名單(表格)</a> -<br>					      
      <a href="../doc/GFA2017rundown.pdf" class="style42">時間表</a> - <a href="../doc/GFA2017sittingam.pdf" class="style42">					      座位表(上午)</a> - <a href="../doc/GFA2017sittingpm.pdf" class="style42"><br>
        座位表(下午)</a></p>
      <p><a href="../doc/GFAfestival2017resultam.pdf" class="style42">成績(小學組)</a><br>
        <a href="../doc/GFAfestival2017resultpm.pdf" class="style42">成</a><a href="../doc/GFAfestival2017resultam.pdf" class="style42">績</a><a href="../doc/GFAfestival2017resultpm.pdf" class="style42">(幼稚園及公開組)</a></p></td>
    </tr>
  <tr>
    <td><div align="center">20-21/5/2017</div></td>
    <td><div align="center">第六十屆體育節 – <br>
      2017年全港學界藝術體操比賽</div></td>
    <td><div align="center">蕙荃體育館</div></td>
    <td class="style42"><a href="../doc/RGintsch2017.pdf" class="style42">章程</a> - <a href="../doc/RGintsch2017pri.pdf" class="style42">報名表(小學組)</a> - <a href="../doc/RGintsch2017sec.pdf" class="style42"><br>
					      報名表(中學組)</a> - <a href="../doc/RGintsch2017rule.pdf" class="style42">競賽要求</a> - <a href="../doc/RGintsch2017scoresheet.pdf" class="style42">難度表</a> - <a href="../doc/RGintsch2017scoresheet_sample.pdf" class="style42">難度表 (樣本)</a> - <a href="../doc/RGintsch2017rundown.pdf" class="style42">時間表 </a> - <a href="../doc/photoshootingguidelines.pdf" class="style42">拍攝指引<br>
					      </a><a href="../doc/RGintsch2017resultpriad.pdf" class="style42">成績(小學高級組)</a> - <a href="../doc/RGintsch2017resultpriele.pdf" class="style42"><br>
					      成績(小學初級組)</a> - <br>
<a href="../doc/RGintsch2017resultprina.pdf" class="style42">成績(小學新秀A)</a> - <a href="../doc/RGintsch2017resultprinb.pdf" class="style42"><br>
成績(小學新秀B)</a> - <br>
					      <a href="../doc/RGintsch2017resultprigp.pdf" class="style42">成績(小學集體)</a> - <br>
					      <a href="../doc/RGintsch2017resultsecad.pdf" class="style42">成績(中學高級組)<br>
					      </a> <a href="../doc/RGintsch2017resultsecele.pdf" class="style42">成績(中學初級組)<br>
					      </a> <a href="../doc/RGintsch2017resultsecn.pdf" class="style42">成績(中學新秀組)<br>
					      </a></td>
   </tr>
 <tr>
   <td><div align="center">29-30/4/2017</div></td>
   <td><div align="center">第六十屆體育節 – 2017年全港彈網分齡賽<br>
   </div></td>
   <td><div align="center">港灣道體育館</div></td>
   <td class="style42"><a href="../doc/TRAagegroup2017.pdf" class="style42">章程及報名表</a> - <a href="../doc/TRAagegroup2017routine.pdf" class="style42">規定動作<br>
   </a><a href="../doc/TRAagegroup2017rundown.pdf" class="style42">場刊</a> - <a href="../doc/TRAagegroup2017result.pdf" class="style42">成績</a></td>
   </tr>
 <tr>
   <td><div align="center">23/4/2017</div></td>
   <td><div align="center">第十四屆學界健美體操比賽</div></td>
   <td><div align="center">蕙荃體育館</div></td>
   <td class="style42"><a href="../doc/AERintsch2017.pdf" class="style42">章程及報名表</a> - <span class="f01_news_003"><a href="../doc/ACROagegroup2017rountinerevised.pdf" class="style38"></a><a href="../doc/AERintschrule2017.pdf" class="style42">比賽規則</a><a href="../doc/AERinterschool2017schedule.pdf" class="style42"><br>
     時間表</a> - <a href="../doc/AERinterschool2017order.pdf" class="style42">出場序</a> - <a href="../doc/AERinterschool2017result.pdf" class="style42">成績</a></span></td>
   </tr>
</tbody></table>
    <%- partial('./partial/links.ejs') %>
  <div>
</section>
