<section class="content competition w-100">
  <h5 class="main-heading1">本地<span class="highlight">比賽</span></h5>
  <div class="container-fluid">
    <p class="lead text-center font-weight-bold" style="color:#163457">本地比賽消息<br>2018/2019年度比賽時間表</p>

    <table class="w-100 table table-striped">
      <caption>*比賽時間如有更改, 本會將另行公佈</caption>
      <tbody>
        <tr>
          <td width="16%" height="23"><div align="center"><strong>日期</strong></div></td>
          <td width="42%"><div align="center"><strong>活動／賽事</strong></div></td>
          <td width="18%"><div align="center"><strong>場地</strong></div></td>
          <td width="24%">&nbsp;</td>
        </tr>
        <tr>
          <td><div align="center">30-31/3/2019</div></td>
          <td><div align="center">2019年全港競技體操公開及新秀比賽暨國際邀請賽(趙惠中盃)</div></td>
          <td><div align="center">馬鞍山體育館</div></td>
          <td>
    <p><a href="../doc/2018-2019AGOpen.pdf" class="style42">章程及報名表</a> - <br>
                            <a href="../doc/MAG_Regulation.pdf" class="style42">男子評分準則</a> - <br>
                            <a href="../doc/WAG_Regulation.pdf" class="style42">女子評分準則</a><br>
                            <span class="style42"><a href="../doc/Web_Draw_2019.pdf" class="style42">出場序</a> </span>- <br>
                            <a href="../doc/AGOpenTimetable2019_final.pdf" class="style42"><span style="color:red">(更新)</span>比賽時間表</a> - <a href="../doc/NumberCloth,Gymnast,Coach Pass 2019.pdf" class="style42"><br>
                            領取號碼布、運動員證及教練證<br>
                            </a>                                              <br>
                            <a href="../doc/AGopen2019WAGnovice.pdf" class="style42">成績(女子新秀組)</a> - <a href="../doc/AGopen2019WAGelementary.pdf" class="style42"><br>成績(女子初級組)</a> - <br>
    <a href="../doc/AGopen2019WAGjunior.pdf" class="style42">成績(女子公開組(少年)</a> - <a href="../doc/AGopen2019WAGsenior.pdf" class="style42"><br>成績(女子公開組(青年)</a> - <br>
    <a href="../doc/AGopen2019MAGnovice.pdf" class="style42">成績(男子新秀組)</a> - <a href="../doc/AGopen2019MAGelementary.pdf" class="style42"><br>成績(男子初級組)</a> - <br>
    <a href="../doc/AGopen2019MAGjunior.pdf" class="style42">成績(男子公開組(少年)</a><br>
                                                    
                            </p>
          </td>
        </tr>
        <tr bgcolor="#e6edf5">
          <td><div align="center">
              <p>9-10/3/2019</p>
          </div></td>
          <td><div align="center">第二十屆香港中學彈網賽</div></td>
          <td><div align="center">港灣道體育館</div></td>
          <td><span class="style53"><a href="../doc/20th TRA Secondary Schools Comp_Prospectus_20190129.pdf">章程</a> - <a href="../doc/20th TRA Secondary Schools Comp_Application form_20190129.pdf">報名表</a> - <br>
              <a href="../doc/20th TRA Secondary Schools Comp_Compulsory routine_20190128.pdf">規定動作套路</a> - <br>
              <a href="../doc/Booklet_20th TRA Secondary Schools Comp.pdf">場刊</a> - <a href="../doc/TRACompetition order2019_website.pdf">出場序</a> - <br>
          <a href="../doc/TRAseccomp2019result.pdf">成績</a></span></td>
        </tr>
        <tr>
          <td><div align="center">24/2/2019</div></td>
          <td><div align="center">2019年全港技巧體操分齡賽</div></td>
          <td><div align="center">馬鞍山體育館</div></td>
          <td><p><a href="../doc/Directives_ACROAgeGroupComp2019(revised).pdf"><span style="color:red">(*更新)</span>章程及報名表</a>- <br><a href="../doc/2. Competition Card.pdf">比賽卡</a><br>
            <a href="../doc/3. Appendix 1.pdf">附件一</a> - <br>
            <a href="../doc/4. Appendix 2.pdf">附件二</a> - <br>
            <a href="../doc/5. Appendix 3.pdf">附件三</a> - <br><a href="../doc/ACRO_StartingOrder.pdf">出場序</a>
            </p><p><a href="../doc/ACROResult_2019.2.24.pdf">成績</a></p></td>
        </tr>
        <tr bgcolor="#e6edf5">
          <td><div align="center">25/11/2018</div></td>
          <td><div align="center">2018年全港十八區健美體操分齡賽</div></td>
          <td><div align="center">荃灣體育館</div></td>
          <td><a href="../doc/2018 Directives_AER Comp 18 district (Revised).pdf">章程及報名表</a> - <a href="../doc/2018 Rules_AER Comp 18 district.pdf">比賽規則</a><span class="style53"> -</span><br>
            <a href="../doc/Booklet(21.11.2018).pdf">場刊</a> <a href="../doc/Booklet.pdf"></a></td>
        </tr>
        <tr>
          <td><div align="center">10-11/11/2018</div></td>
          <td><div align="center">2018年全港藝術體操公開賽</div></td>
          <td><div align="center">荃灣體育館</div></td>
          <td>
    <p><span class="style53"><a href="../doc/Prospectus_RG Open 2018 (Revised).pdf" class="style42">章程</a> - <a href="../doc/Application form 2018.pdf" class="style42">報名表</a></span> - <a href="../doc/Regulation_RG Open 2018.pdf" class="style42">比賽規則</a><span class="style53"> -</span><br>
                              <a href="../doc/Booklet2018_Web.pdf" class="style42">場刊</a>
    </p><p><a href="../doc/Pre_Result.pdf" class="style42">成績(預備組)</a> - <a href="../doc/Grade 4_Result.pdf" class="style42"><br>
    成績(四級)</a> - <br>
    <a href="../doc/Grade 3_Result.pdf" class="style42">成績(三級)</a> - <a href="../doc/Grade 2_Result.pdf" class="style42"><br>
    成績(二級)</a> - <br>
    <a href="../doc/Grade 1_Result.pdf" class="style42">成績(一級)</a> - <a href="../doc/Group _Result.pdf" class="style42"><br>
    成績(集體少年A組)</a></p>
          </td>
        </tr>
        <tr bgcolor="#e6edf5">
          <td><div align="center">27-28/10/2018</div></td>
          <td><div align="center">2018年全港彈網公開錦標賽</div></td>
          <td><div align="center">港灣道體育館</div></td>
          <td><p class="style53"><a href="../doc/Prosepectus_TRAopenchampionships2018.pdf">章程</a> - <a href="../doc/ApplicationForm_TRAopenchampionships2018.pdf">報名表</a> - <br>
              <a href="../doc/rundown_2018.pdf">出場序</a></p>                        </td>
        </tr>
        <tr>
          <td><div align="center">14/7/2018</div></td>
          <td><div align="center">學校體育推廣計劃 - 藝術體操比賽2018</div></td>
          <td><div align="center">蕙荃體育館</div></td>
          <td><p><a href="../doc/SSP RG Comp 2018_Prospectus_Final_20180524.pdf">章程及報名表</a> - <br>
                  <a href="../doc/RG_SSP_Rundown 2018(Revised 10.7.2018).pdf">場刊</a> -                        
          </p><p><a href="../doc/Result_NoviceA.pdf">成績(新秀甲組)</a> - <a href="../doc/Result_NoviceB.pdf"><br>
            成績(新秀乙組)</a> - <br>
            <a href="../doc/Result_ElemA.pdf">成績(初級甲組)</a> - <a href="../doc/Result_ElemB.pdf"><br>
              成績(初級乙組)</a></p></td>
        </tr>
        <tr bgcolor="#e6edf5">
          <td><div align="center">30/6-3/7/2018</div></td>
          <td><div align="center">2018年香港彈網國際邀請賽</div></td>
          <td><div align="center">大埔體育會</div></td>
          <td><a href="../doc/[FINAL] Hong Kong Trampoline International Invitation Championships 2018 Result.pdf">成績</a></td>
        </tr>
        <tr>
          <td><div align="center">3/6/2018</div></td>
          <td><div align="center">2018年香港普及體操節</div></td>
          <td><div align="center">伊利沙伯體育館</div></td>
          <td><p class="style53"><a href="../doc/Prospectus_GFA Festival 2018.pdf">章程</a> - <a href="../doc/Application form_GFA Festival 2018.pdf">報名表</a> - <br>
                  <a href="../doc/Name list_GFA Festival 2018.pdf">參加者及工作人員名單</a> - <br>
                  <a href="../doc/intro_GFA Festival 2018.pdf">表演介紹</a> - <br>
                  <a href="../doc/GFA_TeamManagerMeeting.pdf">領隊會議順延啟事</a> - <br>
                  <a href="../doc/Ticket Application 2018.pdf">門票申請</a> - <br>
                  <a href="../doc/1.Leaflet_GFA2018.pdf">場刊</a> - <br>
                  <a href="../doc/2.Rundown_external_GFA2018.pdf">活動流程</a> - <a href="../doc/3.Seating Plan_AM_GFA2018.pdf"><br>
                    上午座位表</a> - <br>
            <a href="../doc/4.Seating Plan_PM_GFA2018.pdf">下午座位表</a> - <a href="../doc/5.Floorplan_GFA2018.pdf"><br>
              大匯演平台排序 </a> - <br>
            <a href="../doc/6.Precautions_GFA2018.pdf">注意事項</a> - <a href="../doc/7.score_GFA2018.pdf"><br>
              評分準則</a> -                         
          </p><p class="style53"><a href="../doc/GFA 2018_Result_AM (Open).pdf">成績(公開組)</a> - <a href="../doc/GFA 2018_Result_PM (PrimaryKindergarten).pdf"><br>
            成績(小學及幼稚園組)</a> - <br>
                  </p><p class="style53"></p></td>
        </tr>
        <tr bgcolor="#e6edf5">
          <td><div align="center">19-20/5/2018</div></td>
          <td><div align="center">第61屆體育節 – 全港學界藝術體操比賽</div></td>
          <td><div align="center">蕙荃體育館</div></td>
          <td><p><a href="../doc/RG Interschools Prospectus 2018.pdf">章程</a> - <a href="../doc/Primary form.pdf">小學報名表</a> <br>
                  <a href="../doc/Secondary form.pdf">中學報名表</a> - <a href="../doc/Regulation 2018.pdf">競賽要求</a> <br>
                <a href="../doc/Rundown 2018.pdf">場刊</a></p>
              <p><a href="../doc/Novice A.pdf">成績(小學新秀A組)</a> - <a href="../doc/Novice B.pdf"><br>
                成績(小學新秀B組)</a> - <br>
                <a href="../doc/Novice AB Team.pdf">成績(小學新秀AB組團體)</a> - <a href="../doc/Novice C.pdf"><br>
                  成績(小學新秀C組)</a> - <br>
                <a href="../doc/Novice D.pdf">成績(小學新秀D組)</a> - <a href="../doc/Novice CD Team.pdf"><br>
                  成績(小學新秀CD組團體)</a> - <br>
                <a href="../doc/PS Elementary.pdf">成績(小學初級組)</a> - <a href="../doc/Web_MenSenior2018.pdf"><br>
                  </a><a href="../doc/PS Advance.pdf">成績(小學高級組)</a> - <a href="../doc/PS Advance Team.pdf"><br>
                    成績(小學高級組團體)</a> - <br>
                <a href="../doc/PS Group.pdf">成績(小學集體操)</a> - <a href="../doc/Novice.pdf"><br>
                  成績(中學新秀組)</a> - <br>
                <a href="../doc/Novice Team.pdf">成績(中學新秀組團體)</a> - <a href="../doc/Novice CD Team.pdf"><br>
                  </a><a href="../doc/SS Elementary.pdf">成績(中學初級組)</a> - <br>
                <a href="../doc/SS Advance.pdf">成績(中學高級組)</a> - </p></td>
        </tr>
        <tr>
          <td><div align="center">5-6/5/2018</div></td>
          <td><div align="center">第61屆體育節 – 香港彈網分齡賽</div></td>
          <td><div align="center">港灣道體育館</div></td>
          <td><p><a href="../doc/TRA Age Group Comp 2018_Prospectus.pdf">章程</a> - <a href="../doc/TRA Age Group Comp 2018_Application form.pdf">報名表</a><br>
                  <a href="../doc/TRA Age Group Comp 2018_Compulsory routine.pdf">規定動作表</a><span class="f01_news_003">- <a href="../doc/Rundown_61st FOS TRA Age Group.pdf">場刊</a></span>
            </p><p><a href="../doc/2018TARComp_Result.pdf">成績</a></p></td></tr>
        <tr bgcolor="#e6edf5">
          <td><div align="center">29/4/2018</div></td>
          <td><div align="center">第61屆體育節 – 香港技巧體操公開賽</div></td>
          <td><div align="center">馬鞍山體育館</div></td>
          <td><p><a href="../doc/Acro Open 2018_Prospectus.pdf">章程及報名表</a>- <a href="../doc/Acro Open 2018_Regulation.pdf">評分規則</a> - <a href="../doc/Acro Open 2018_Difficulty Table.pdf">動作難度表</a> - <br>
                  <a href="../doc/Acro Open 2018_Competition Card.pdf">比賽卡</a> - <a href="../doc/Acro Open 2018_Competition Card Sample.pdf">比賽卡(樣本)</a></p>
              <p><a href="../doc/ACRO_Result_2018.4.29.pdf">成績</a></p></td>
        </tr>
        <tr>
          <td><div align="center">22/4/2018</div></td>
          <td><div align="center">第十五屆學界健美體操比賽</div></td>
          <td><div align="center">蕙荃體育館</div></td>
          <td><p><a href="../doc/AERInterschool Competition(Directives).pdf">章程及報名表</a> - <a href="../doc/AERInterschool Competition(Rules).pdf">比賽規則</a><span class="f01_news_003"> - <a href="../doc/AER_Interschool.pdf">場刊</a></span></p>
              <p><a href="../doc/IM.pdf">成績(男、女子單人)</a> - <a href="../doc/Result_MP.pdf"><br>
                成績(</a><a href="../doc/Result_MP.pdf">混合雙人</a><a href="../doc/IW.pdf">)</a> - <br>
                <a href="../doc/Result_TR.pdf">成績(</a><a href="../doc/Result_TR.pdf">三人</a><a href="../doc/MP.pdf">)</a> - <a href="../doc/Result_GP.pdf"><br>
                  成績(五人)</a> - <br>
                <a href="../doc/Result_AD.pdf">成績(有氧舞蹈)</a> - <a href="../doc/Result_Overall.pdf"><br>
                  成績(團體獎)</a></p></td>
        </tr>
      </tbody>
    </table>
    <%- partial('./partial/links.ejs') %>
  <div>
</section>
