<section class="content competition w-100">
  <h5 class="main-heading1">本地<span class="highlight">比賽</span></h5>
  <div class="container-fluid">
    <p class="lead text-center font-weight-bold" style="color:#163457">本地比賽消息<br>2019/2020年度比賽時間表</p>

    <table class="w-100 table table-striped">
      <caption>*比賽時間如有更改, 本會將另行公佈</caption>
      <tbody>
        <tr bgcolor="#4393C8">
          <td width="16%" height="23"><div align="center"><strong>日期</strong></div></td>
          <td width="42%"><div align="center"><strong>活動／賽事</strong></div></td>
          <td width="18%"><div align="center"><strong>場地</strong></div></td>
          <td width="24%">&nbsp;</td>
        </tr>
        <tr>
          <td><div align="center">16-20/1/2020</div></td>
          <td><div align="center">2020年全港競技體操公開及新秀比賽暨國際邀請賽(趙惠中盃)</div></td>
          <td><div align="center">馬鞍山體育館</div></td>
          <td><p><br>
            <a href="../doc/MAG_Regulation.pdf"></a></p></td>
        </tr>
        <tr>
          <td><div align="center">
              <p>17/11/2019</p>
          </div></td>
          <td><div align="center">2019年全港十八區健美體操分齡賽</div></td>
          <td><div align="center">蕙荃體育館</div></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><div align="center">26-27/10/2019</div></td>
          <td><div align="center">2019-2020年全港藝術體操公開賽</div></td>
          <td><div align="center">蕙荃體育館</div></td>
          <td><p></p></td>
        </tr>
        <tr>
          <td><div align="center">29/9/2019</div></td>
          <td><div align="center">2019-2020年全港技巧體操分齡賽</div></td>
          <td><div align="center">馬鞍山體育館</div></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><div align="center">13/7/2019</div></td>
          <td><div align="center">學校體育推廣計劃 - 藝術體操比賽2019</div></td>
          <td><div align="center">蕙荃體育館</div></td>
          <td><p></p></td>
        </tr>
        <tr>
          <td><div align="center">19/5/2019</div></td>
          <td><div align="center">2019年香港普及體操節</div></td>
          <td><div align="center">伊利沙伯體育館</div></td>
          <td><p class="style53"><a href="http://gahk.org.hk/doc/Prospectus_GFA%20Festival%202019_20190128.pdf">章程</a>&nbsp;-&nbsp;<a href="http://gahk.org.hk/doc/Application%20form_GFA%20Festival%202019_20190128.pdf">報名表</a><br>
          <a href="http://gahk.org.hk/doc/Name%20list_GFA%20Festival%202019_20190128.pdf">參加者及工作人員名單</a><br>
          <a href="http://gahk.org.hk/doc/Intro_GFA%20Festival%202019_20190128.pdf">表演介紹</a> - <a href="../doc/GFA2019rundown.pdf">活動流程</a><br>
          <a href="../doc/GFA2019sittingam.pdf">座位表(上午)</a> - <a href="../doc/GFA2019sittingpm.pdf"><br>
                                </td>
        </tr>
        <tr>
          <td><div align="center">18-19/5/2019</div></td>
          <td><div align="center">2019年全港彈網分齡賽</div></td>
          <td><div align="center">
            <div align="center">港灣道體育館</div>
          </div></td>
          <td><p><span class="style53"><a href="../doc/TRAagegroupcomp2019.pdf">章程</a>&nbsp;-&nbsp;<a href="../doc/TRAagegroupcomp2019application.pdf">報名表</a></span> - <a href="../doc/TRAagegroupcomp2019routine.pdf">規定動作</a><br>
            <a href="../doc/TRAagegroupcomp2019rundown.pdf">場刊</a><br>
          </p></td>
        </tr>
        <tr>
          <td><div align="center">11-12/5/2019</div></td>
          <td><div align="center">第62屆體育節 – 全港藝術體操分齡賽</div></td>
          <td><div align="center">
            <div align="center">蕙荃體育館</div>
          </div></td>
          <td><p><a href="../doc/RGComp_Directive_2019_Revised.pdf"><span style="color:red">(更新)</span></a><a href="../doc/RGComp_Directive_2019_Revised.pdf">章程</a><a href="../doc/RGComp_Directive_2019.pdf" class="style1"></a> - <a href="../doc/RGComp_Rules_2019.pdf">競賽要求</a><a href="../doc/RGComp_Rules_2019.pdf" class="style1"></a><br>
            <span class="style53"><u><a href="../doc/RG_AF_Team_2019.pdf" class="style1"></a><a href="../doc/RG_AF_Team_2019.pdf">團體報名表</a></u></span> - <span class="style53"><u><a href="../doc/RG_AF_Team_2019.pdf" class="style1"></a><a href="../doc/RG_AF_Individual_2019.pdf">個人報名表</a><a href="../doc/AERInterschoolComp2019_Directive.pdf"></a><a href="../doc/RGComp_Rules_2019.pdf" class="style1"></a><br>
              <u><a href="../doc/RG_AF_Team_2019.pdf" class="style1"></a><a href="/competition/form/rgt">集體報名表</a></u></u></span><br>
            <a href="../doc/Rundown 2019.pdf">場刊</a></p>
            <p><a href="../doc/62nd Festival of Sport - HK RG Age Group Championship 2019.pdf">成績</a></p></td>
        </tr>
        <tr>
          <td><div align="center">4/5/2019</div></td>
          <td><div align="center">第十六屆香港學界健美體操比賽</div></td>
          <td><div align="center">荃灣體育館</div></td>
          <td><p class="style53"><a href="../doc/AERInterschoolComp2019_Directive.pdf">章程及報名表</a> - <a href="../doc/AERInterschoolComp2019_Rules.pdf">比賽規則</a><br>
              <u><a href="../doc/AER_Kindergarten.MOV">幼稚園組規定套路示範</a></u><br>
              <a href="../doc/AER_Primary.mp4">小學組規定套路示範</a><br>
              <a href="../doc/AERintsch2019schedule.pdf">賽程表</a> - <a href="../doc/AERintsch2019rundown.pdf">出場次序</a><br></p></td>
        </tr>
        <tr>
          <td><div align="center">28/4/2019</div></td>
          <td><div align="center">香港技巧體操公開賽</div></td>
          <td><div align="center">馬鞍山體育館</div></td>
          <td><p><a href="../doc/AcroOpen2019_Prospectus.pdf">章程及報名表</a>- <br>
              <a href="../doc/AcroOpen2019_comp.card.pdf">比賽卡</a><br>
              <a href="../doc/AcroOpen2019_app1.pdf">附件一</a> - <br>
              <a href="../doc/AcroOpen2019_app2.pdf">附件二</a> - <br>
              <a href="../doc/AcroOpen2019_app3.pdf">附件三</a> -<br>
              <a href="../doc/AcroOpen2019rundown.pdf">場刊</a></p>                          </td>
        </tr>
      </tbody>
    </table>

    <%- partial('./partial/links.ejs') %>
  </div>
</section>
