<section class="content competition w-100">
    <h5 class="main-heading1">本地<span class="highlight">比賽</span></h5>
    <div class="container-fluid">
        <p class="lead text-center font-weight-bold" style="color:#163457">本地比賽消息<br>2020/2021年度比賽時間表</p>

        <table class="w-100 table table-striped">
            <caption>*比賽時間如有更改, 本會將另行公佈</caption>
            <tbody>
                <tr bgcolor="#4393C8">
                    <td width="14%" height="23">
                        <div align="center"><strong>日期</strong></div>
                    </td>
                    <td width="38%">
                        <div align="center"><strong>活動／賽事</strong></div>
                    </td>
                    <td width="16%">
                        <div align="center"><strong>場地</strong></div>
                    </td>
                    <td width="18%">&nbsp;</td>
                    <td width="14%">
                        <div align="center"><strong>網上報名</strong></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div align="center">23-24/1/2021</div>
                    </td>
                    <td>
                        <div align="center">2020/2021年度全港競技體操公開及新秀比賽暨國際邀請賽</div>
                    </td>
                    <td>
                        <div align="center">馬鞍山體育館</div>
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div align="center">5-6/12/2020</div>
                    </td>
                    <td>
                        <div align="center">2020年香港國際彈網邀請賽</div>
                    </td>
                    <td>
                        <div align="center">馬鞍山體育館</div>
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div align="center">19-20/12/2020</div>
                    </td>
                    <td>
                        <div align="center">2020年全港十八區健美體操分齡比賽</div>
                    </td>
                    <td>
                        <div align="center">蕙荃體育館</div>
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div align="center">28-29/11/2020</div>
                    </td>
                    <td>
                        <div align="center">2020/2021年度年全港藝術體操公開賽</div>
                    </td>
                    <td>
                        <div align="center">蕙荃體育館</div>
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div align="center">20/9/2020</div>
                    </td>
                    <td>
                        <div align="center">2020/2021年度全港技巧體操分齡賽</div>
                    </td>
                    <td>
                        <div align="center">馬鞍山體育館</div>
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div align="center">19-20/9/2020</div>
                    </td>
                    <td>
                        <div align="center">2020年全港彈網公開賽</div>
                    </td>
                    <td>
                        <div align="center">馬鞍山體育館</div>
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div align="center">11/7/2020</div>
                    </td>
                    <td>
                        <div align="center">學校體育推廣計劃 - 藝術體操比賽2020</div>
                    </td>
                    <td>
                        <div align="center">蕙荃體育館</div>
                    </td>
                    <td style="color: dodgerblue;">聯校體育推廣計劃 - 藝術體操新規定套路動作<br><br>
                        <a href="http://www.gahk.org.hk/doc/RGSSP_Ball.pdf"><u>初級球操</u></a><br>
                        <a href="http://www.gahk.org.hk/doc/RGSSP_Hoop.pdf"><u>初級圈操</u></a><br>
                        <a href="http://www.gahk.org.hk/doc/RGSSP_Rope.pdf"><u>初級繩操</u></a></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div align="center">24/5/2020</div>
                    </td>
                    <td>
                        <div align="center">第十七屆全港學界健美體操比賽</div>
                    </td>
                    <td>
                        <div align="center">蕙荃體育館</div>
                    </td>
                    <td style="color: red; font-size: small;">
                        為保障所有參與人士的健康，盡量減低疫情在社區擴散的風險，原定5月24日舉辦之第十七屆全港學界健美體操比賽將會延期舉行，詳情請留意本會公告。</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div align="center">1-3/5/2020</div>
                    </td>
                    <td>
                        <div align="center">第63屆體育節 – 全港藝術體操分齡賽</div>
                    </td>
                    <td>
                        <div align="center">蕙荃體育館</div>
                    </td>
                    <td style="color: red; font-size: small;">
                        <!-- <p><a
                                href="http://www.gahk.org.hk/doc/Directive_63rdFOS_HKRGAgeGroupCompetition.pdf">章程</a>&nbsp;-&nbsp;<a
                                href="http://www.gahk.org.hk/doc/Rules_HKRGAgeGroupCompetition.pdf">競賽要求</a><br>
                            <a
                                href="http://www.gahk.org.hk/doc/IndividualApplication_HKRGAgeGroupCompetition.pdf">個人報名表</a><br>
                            <a href="">集體報名表</a><br>
                            <a href="http://www.gahk.org.hk/doc/Team_HKRGAgeGroupCompetition.pdf">團體報名表</a></p> -->
                        為保障參與人士的健康及減低疫情在社區擴散的風險，原定5月1至3日舉辦之第63屆體育節 -
                        2020年全港藝術體操分齡賽將會取消。由於未有場地可以進行補賽，因此本次比賽無奈取消，本會深表遺憾，敬請見諒。
                        <br><br>所有受影響的參賽者將獲全數退回已繳付的報名費及保險費。請填妥以下表格，以便本會安排退款手續。
                        <br><a href="https://forms.gle/nDwbc9PAoytMueQd6">https://forms.gle/nDwbc9PAoytMueQd6</a>
                        <br><br>**請於4月15日或之前填妥表格，否則本會或未能及時處理有關退款，謝謝
                    </td>
                    <td>
                        <p>

                            <a <% if(req.session.role == null){ %>href="user/login"
                                <% }else{ %>href="/competition/form/GRGS" <% } %>>集體報名(學校組)</a><br>
                            <a <% if(req.session.role == null){ %>href="user/login"
                                <% }else{ %>href="/competition/form/GRGP" <% } %>>集體報名(公開組)</a><br>
                            <a <% if(req.session.role == null){ %>href="user/login"
                                <% }else{ %>href="/competition/form/TRGSForm"
                                <% } %>>團體報名(學校組)</a><br>
                            <a <% if(req.session.role == null){ %>href="user/login"
                                <% }else{ %>href="/competition/form/TRGPForm"
                                <% } %>>團體報名(公開組)</a></p>

                    </td>
                </tr>
                <tr>
                    <td>
                        <div align="center">19/4/2020</div>
                    </td>
                    <td>
                        <div align="center">2020年香港普及體操節</div>
                    </td>
                    <td>
                        <div align="center">伊利沙伯體育館</div>
                    </td>
                    <td style="color: red; font-size: small;">2020普及體操節延期舉行<br><br>

                        為保障所有參與人士的健康，盡量減低疫情在社區擴散的風險，原定4月19日舉辦之2020普及體操節將會延期舉行，詳情請留意本會公告。<br><br>

                        有關報名將會暫停，待延期的日子確定後，將重新開放報名。而已收之報名表將稍後退回，敬請留意。</td>
                    <td>

                        <p><a <% if(req.session.role == null){ %>href="user/login"
                            <% }else{ %>href="/competition/form/GFA_form"<% } %>>普及體操節報名</a></p>

                    </td>
                </tr>

                <tr>
                    <td>
                        <div align="center">4-5/4/2020</div>
                    </td>
                    <td>
                        <div align="center">2020年全港彈網分齡賽</div>
                    </td>
                    <td>
                        <div align="center">馬鞍山體育館</div>
                    </td>
                    <td style="color: red; font-size: small;">2020全港彈網分齡賽延期舉行<br><br>

                        為保障所有參與人士的健康，盡量減低疫情在社區擴散的風險，原定4月4至5日舉辦之2020全港彈網分齡賽將會延期舉行，詳情請留意本會公告。</td>
                    <td>

                        <p><a <% if(req.session.role == null){ %>href="user/login"
                                <% }else{ %>href="/competition/form/trampoline" <% } %>>彈網分齡賽報名</a></p>

                        <p><a href="/formDoc/trampoline_leadershipCert.pdf" download>領隊證申請表</a></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div align="center">5/4/2020</div>
                    </td>
                    <td>
                        <div align="center">2020年香港技巧體操公開賽</div>
                    </td>
                    <td>
                        <div align="center">馬鞍山體育館</div>
                    </td>
                    <td style="color: red; font-size: small;">2020香港技巧體操公開賽延期舉行<br><br>

                        為保障所有參與人士的健康，盡量減低疫情在社區擴散的風險，原定4月5日舉辦之2020香港技巧體操公開賽將會延期舉行，詳情請留意本會公告。</td>
                    <td>

                        <p><a <% if(req.session.role == null){ %>href="user/login"
                                <% }else{ %>href="/competition/form/acroage" <% } %>>技巧體操報名</a></p>

                    </td>
                </tr>

                <tr>
                    <td>
                        <div align="center">14-15/3/2020</div>
                    </td>
                    <td>
                        <div align="center">第二十一屆香港中學彈網錦標賽</div>
                    </td>
                    <td>
                        <div align="center">港灣道體育館</div>
                    </td>
                    <td style="color: red; font-size: small;">由於教育局宣佈不早於2020年3月16日復課, 原定2020年3月14至15日舉辦之
                        「第二十一屆香港中學彈網錦標賽」將會取消, 敬請垂注。</td>
                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td>
                        <div align="center">17/11/2019</div>
                    </td>
                    <td>
                        <div align="center">2019年全港十八區健美體操分齡賽</div>
                    </td>
                    <td>
                        <div align="center">蕙荃體育館</div>
                    </td>
                    <td style="color: red; font-size: small;">
                        因應武漢肺炎於香港有上升趨勢，康樂及文化事務署於一月二十八日宣布，為配合政府「對公共衞生有重要性的新型傳染病預備及應變計劃」下提升應變級別至緊急及避免市民聚集，以下文康設施將由一月二十九日起暫停開放，並取消在有關場地舉行的康樂、體育及文化活動，直至另行通告。<br><br>

                        原訂於二月二十三日在蕙荃體育館舉行的 2019年度全港十八區健美體操分齡賽將會取消，不便之處，敬請原諒。<br><br>

                        有關退款安排將盡快公布。如有其他查詢，請於與本會職員聯絡，謝謝。</td>
                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td>
                        <div align="center">16-20/1/2020</div>
                    </td>
                    <td>
                        <div align="center">2020年全港競技體操公開及新秀比賽</div>
                    </td>
                    <td>
                        <div align="center">馬鞍山體育館</div>
                    </td>
                    <td>
                        <p>
                            <a href="http://www.gahk.org.hk/doc/Directives_AG%20Local%20Open%202020%20chi.pdf">章程及報名表
                                -</a><br>
                            <a
                                href="http://www.gahk.org.hk/doc/MAG_Rules%20and%20Regulations%20Annex%20%20(Judging%20and%20Apparatus%20Requirement)%202020%20chi.pdf">男子評分內容、器械規格
                                -</a><br>
                            <a
                                href="http://www.gahk.org.hk/doc/WAG_Rules%20and%20Regulations%20Annex%20%20(Judging%20and%20Apparatus%20Requirement)%202020%20chi.pdf">女子評分內容、器械規格
                                -</a><br>
                            <a href="http://www.gahk.org.hk/doc/AGopen2020startinglistrevised.pdf">出場序(修訂19/12/2019)
                                -</a><br>
                            <a href="http://www.gahk.org.hk/doc/AGopen2020rundown.pdf">比賽時間表 -</a><br>
                            <a href="http://www.gahk.org.hk/doc/AGopen2020remark.pdf">領取號碼布、運動員證及教練證</a><br><br>
                            <a href="http://www.gahk.org.hk/doc/AGopen2020WAGnovice.pdf">成績(女子新秀組) -</a><br>
                            <a href="http://www.gahk.org.hk/doc/AGopen2020WAGelementary.pdf">成績(女子初級組) -</a><br>
                            <a href="http://www.gahk.org.hk/doc/AGopen2020WAGjunior.pdf">成績(女子公開組(少年) -</a><br>
                            <a href="http://www.gahk.org.hk/doc/AGopen2020WAGsenior.pdf">成績(女子公開組(青年) -</a><br>
                            <a href="http://www.gahk.org.hk/doc/AGopen2020MAGnovice.pdf">成績(男子新秀組) -</a><br>
                            <a href="http://www.gahk.org.hk/doc/AGopen2020MAGelementary.pdf">成績(男子初級組) -</a><br>
                            <a href="http://www.gahk.org.hk/doc/AGopen2020MAGjunior.pdf">成績(男子公開組(少年) -</a><br>
                            <a href="http://www.gahk.org.hk/doc/AGopen2020MAGsenior.pdf">成績(男子公開組(青年)</a><br>
                        </p>
                    </td>
                    <td>&nbsp;</td>
                </tr>


            </tbody>
        </table>

        <%- partial('./partial/links.ejs') %>
    </div>
</section>