<aside class="user">
  <section>
    <h6 class="side-heading3"><span class="reflect" data-text="成為用戶">成為用戶</span></h6>
    <ul class="list-unstyled">
      <li><a class="side-button1 <%= req.path === '/user/register' ? 'active':'' %>" href="/user/register">註冊帳號</a></li>
      <li><a class="side-button1 <%= req.path === '/user/forgot-password' ? 'active':'' %>" href="/user/forgot-password">忘記密碼</a></li>
    </ul>
  </section>
</aside>
