<section class="content links w-100">
  <h5 class="main-heading1">章別<span class="highlight">計劃</span></h5>
  <div class="container-fluid">
    <h6 class="main-heading2">計劃簡介</h6>

    <div class="card">
      <table class="w-100 table table-striped mb-0">
        <tbody>
          <tr>
            <td>
              <p>章別計劃目的旨在發掘有潛質體操動員，培養兒童對體操的興趣。讓參加者盡自己最大的能力去完成各項目，參加者必須由最初開始，以循序漸進完成各階段，當參加者有一定的水平，日後可繼續考取更高之章別，藉以提高及增進香港體操水平。</p>
            </td>
          </tr>
          <tr>
            <td><a class="ico-pdf" href="doc/AGbadgesscheme.pdf" target="_blank">競技體操動作大綱</a> - <a href="../doc/AG_badge_2018.pdf" target="_blank">分紙<br>
            </a><a class="ico-pdf" href="doc/AGbadgesscheme.pdf" target="_blank">Artistic Gymnastics Badge Scheme Content </a> - <a href="../doc/AG_badge_2018.pdf" target="_blank">Score Sheet</a>
            </td>
          </tr>
          <tr>
            <td><a class="ico-pdf" href="doc/RGbadgesscheme.pdf" target="_blank">藝術體操動作大綱</a> - <a href="../doc/RG_badge_2018.pdf" target="_blank">分紙<br>
            </a><a class="ico-pdf" href="doc/RGbadgesscheme.pdf" target="_blank">Rhythmic Gymnastics Badge Scheme Content </a> - <a href="../doc/RG_badge_2018.pdf" target="_blank">Score Sheet </a></td>
          </tr>
          <tr>
            <td><a class="ico-pdf" href="doc/TRAbadgesscheme.pdf" target="_blank">彈網體操動作大綱</a> - <a href="../doc/TTC_badge_2018.pdf" target="_blank">分紙<br>
            </a><a class="ico-pdf" href="doc/TRAbadgesscheme.pdf" target="_blank">Trampoline Badge Scheme Content </a> - <a href="../doc/TTC_badge_2018.pdf" target="_blank">Score Sheet </a></td>
          </tr>
          <tr>
            <td><a class="ico-pdf" href="doc/ACRObadgesscheme.pdf" target="_blank">技巧體操動作大綱</a> - <a href="../doc/SAG_badge_2018.pdf" target="_blank">分紙<br>
            </a><a class="ico-pdf" href="doc/ACRObadgesscheme.pdf" target="_blank">Acrobatic Gymnastics Badge Scheme Content </a> - <a href="../doc/SAG_badge_2018.pdf" target="_blank">Score Sheet</a></td>
          </tr>
          <tr>
            <td><a class="ico-pdf" href="doc/AERbadgesscheme.pdf" target="_blank">健美體操動作大綱</a> - <a href="../doc/AER_Scoresheet23.8.pdf" target="_blank">分紙<br>
            </a><a class="ico-pdf" href="doc/AERbadgesscheme.pdf" target="_blank">Aerobic Gymnastics Badge Scheme Content </a> - <a href="../doc/AER_Scoresheet23.8.pdf" target="_blank">Score Sheet</a></td>
          </tr>
          <tr>
            <td><a class="ico-pdf" href="doc/form-Badges_Scheme_Application.pdf" target="_blank">章別計劃團體申請表</a> <br>
              <a class="ico-pdf" href="doc/form-Badges_Scheme_Application.pdf" target="_blank">Badge Scheme Application Form</a></td>
          </tr>
          <tr>
            <td><a class="ico-pdf" href="doc/Badgescertsample.pdf" target="_blank">證書樣本</a>
              <br>
              <a class="ico-pdf" href="doc/Badgescertsample.pdf" target="_blank">Sample of Badge Scheme </a>
            </td>
          </tr>
          <tr>
            <td>章別獎勵計劃收費調整(將於2018年10月1日生效) - <a href="../doc/badges＿2018.8.20.pdf" class="style4">資料</a>                        <br>
            Adjustment of Badge Scheme application fee (Effected on 1 October 2018) - <a href="../doc/badges＿2018.8.20.pdf" class="style4">Information</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</section>
