<section class="content download w-100">
  <h5 class="main-heading1">下載<span class="highlight">專區</span></h5>
  <div class="container-fluid">
    <h6 class="main-heading2">各類申請表</h6>

    <div class="card">
      <div class="container-fluid">
        <p class="mt-3">下載的申請表可以列印後填寫再<strong>郵寄</strong>至本會，或使用本會<strong>電郵提交doc格式申請</strong>，標題請寫明"申請表"。<br>註:部份檔案可能需要winzip解壓</p>
      </div>

      <table class="table table-striped w-100 mb-0">
        <tbody>
          <tr>
            <td width="2%"><div align="center"><strong>1.</strong></div></td>
            <td width="80%"><a class="ico-pdf" href="doc/c_entry.pdf" target="_blank">團體註冊申請表</a></td>
            <td width="18%"><u><a href="/membership/clubMemberForm">網上團體註冊</a></u></td>
          </tr>
          <tr>
            <td><div align="center"><strong>2.</strong></div></td>
            <td><a class="ico-pdf" href="../doc/MembershipForm2019-2020.pdf" target="_blank">個人會員申請表2019-20</a><br>
              <a class="ico-pdf" href="../doc/MembershipForm2019-2020_ENG.pdf" target="_blank">Membership application form 2019-20</a></td>
              <td>&nbsp;</td>
          </tr>
          <tr>
            <td><div align="center"><strong>3.</strong></div></td>
            <td><a class="ico-doc" href="doc/oversea.doc" target="_blank">申辦跨境體操邀請賽</a></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><div align="center"><strong>4.</strong></div></td>
            <td><a class="ico-pdf" href="../doc/GFA Cert Application 2018.pdf" target="_blank">普及體操出席証書申請表</a></td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</section>
