<aside class="judge">
  <section>
    <h6 class="side-heading3"><span class="reflect" data-text="裁判通訊">裁判通訊</span></h6>
    <ul class="list-unstyled">
      <li><a class="side-button1" target="_blank" href="/doc/Judge_MAG_2016.pdf">男子競技體操裁判</a></li>
      <li><a class="side-button1" target="_blank" href="/doc/Judge_WAG_2016.pdf">女子競技體操裁判</a></li>
      <li><a class="side-button1" target="_blank" href="/doc/Judge_RG_2016.pdf">藝術體操裁判</a></li>
      <li><a class="side-button1" target="_blank" href="/doc/Judge_TRA_2016.pdf">彈網體操裁判</a></li>
      <li><a class="side-button1" target="_blank" href="/doc/Judge_AER_2016.pdf">健美體操裁判</a></li>
      <li><a class="side-button1" target="_blank" href="/doc/Judge_ACRO_2016.pdf">技巧體操裁判</a></li>
    </ul>
  </section>
</aside>
<div class="content judge flex-lg-grow-1">
  <h5 class="main-heading1">裁判<span class="highlight">通訊</span></h5>

  <div class="container-fluid">
    <div class="card">
      <table class="table w-100 mb-0">
        <tbody>
          <tr>
            <td width="3%"><strong>(1)</strong></td>
            <td width="97%"><a href="http://www.fig-gymnastics.com" target="_blank" class="style10">國際體操聯盟(FIG)</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <section class="card mt-4">
      <h6 class="main-heading2 mb-0">本地裁判班</h6>
      <table class="table table-striped w-100 mb-0">
        <tbody>
          <tr>
            <td width="30%"><div align="center" class="style2"> <strong>上載日期</strong></div></td>
            <td width="52%"><div align="center" class="style2"> <strong>內容</strong></div></td>
            <td width="30%"><div align="center" class="style2"> <strong>截止日期</strong></div></td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>
