<div class="content training w-100">
  <h5 class="main-heading1">訓練<span class="highlight">班</span></h5>

  <div class="container-fluid">

    <section class="card mb-4">
      <h6 class="main-heading2 mb-0">本會舉辦訓練班</h6>
      <table class="table table-striped mb-0">
        <tbody>
          <tr>
            <td class="d-flex">
              <time class="flex-shrink-0">02-05-2019</time>
              <div>
                <p><a class="ico-pdf" href="../doc/AERtidprep672019.pdf" target="_blank">健美體操精英隊(預備班)訓練計劃 (2019年6月-7月)</a><br><a href="../doc/AERtidprep672019eng.pdf" target="_blank" class="ico-pdf">Aerobic Gymnastics Talent (Preparation) Training Course (Jun to Jul 2019)</a></p>
                <p><a href="../doc/AERtidprep2019.pdf" target="_blank" class="ico-pdf"> 健美體操精英隊(預備班)訓練計劃 - 2019時間表</a></p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class="card">
      <h6 class="main-heading2 mb-0">康文署資助訓練班 (體操發展計劃)</h6>
      <table class="table table-striped mb-0">
        <tbody>
          <tr>
            <td class="d-flex">
              <time class="flex-shrink-0">02-05-2019</time>
              <div>
<p align="left"><strong>最新一期﹕</strong></p>
                            <p align="left">2019 – 2020年度體操發展計劃（第一期） - <span class="style12"><u><a href="/doc/2019-20 Booklet (Phase 1)_20.5.2019.pdf" class="style1">章程</a></u></span> - <span class="style12"><u><a href="/doc/2019-2020 application form ph1.pdf" class="style1">報名表</a></u> </span></p>
                            <p align="left">*AG07-1920日子更改</p>
                            <p align="left">*AG06-1920日子更改</p>
                            <p align="left">*GFA08-1920日子更改</p>
                            <p align="left">*TRA04,05,08,09,12日子更改</p>
                            <p align="left">注意事項﹕ <br>
                              1. 報名日期前收到的報名表一律作廢，敬請留意 <br>
                              2. 報名時必須遞交報名表、支票、回郵信封、証書副本(如需申請L2或L3) <br>
                              3. 如用現金付款，請自備零錢 <br>
                              4. 以現金付款之參加者，如因任何原因需要退款，必須親臨本會取回現金<span class="style11"><br>
                                </span> </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <p class="lead text-center mt-4"><strong>以下課程已額滿或取消，暫停接受報名<br>額滿/取消課程</strong></p>

<table class="table table-bordered table-striped w-100">
<thead>
                            <tr>
                              <th width="16%" height="23"><div align="center"><strong>競技體操</strong></div></th>
                              <th width="16%"><div align="center"><strong>藝術體操</strong></div></th>
                              <th width="16%"><div align="center"><strong>彈網</strong></div></th>
                              <th width="16%"><div align="center"><strong>普及體操</strong></div></th>
                              <th width="16%"><div align="center"><strong>技巧體操</strong></div></th>
                              <th width="16%"><div align="center"><strong>健美體操</strong></div></th>
                              </tr>
</thead>
<tbody>
                            <tr>
                              <td><div align="center">AG01-1920</div></td>
                              <td height="23"><div align="center">RG01-1920</div></td>
                              <td><div align="center">TRA02-1920</div></td>
                              <td><div align="center">GFA01-1920</div></td>
                              <td><div align="center">ACRO02-1920</div></td>
                              <td><div align="center">AER02-1920</div></td>
                              </tr>
                            <tr>
                              <td><div align="center">AG02-1920</div></td>
                              <td><div align="center">RG02-1920</div></td>
                              <td><div align="center">TRA03-1920</div></td>
                              <td><div align="center">GFA02-1920</div></td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td><div align="center">AG04-1920</div></td>
                              <td><div align="center">RG04-1920</div></td>
                              <td><div align="center">TRA04-1920</div></td>
                              <td><div align="center">GFA03-1920</div></td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              </tr>
                            <tr>
                              <td><div align="center">AG06-1920</div></td>
                              <td><div align="center">RG05-1920</div></td>
                              <td><div align="center">TRA06-1920</div></td>
                              <td><div align="center">GFA04-1920</div></td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              </tr>
                            <tr>
                              <td><div align="center">AG07-1920</div></td>
                              <td><div align="center">RG06-1920</div></td>
                              <td><div align="center">TRA08-1920</div></td>
                              <td><div align="center">GFA05-1920</div></td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              </tr>
                            <tr>
                              <td><div align="center">AG09-1920</div></td>
                              <td><div align="center">RG07-1920</div></td>
                              <td><div align="center">TRA09-1920</div></td>
                              <td><div align="center">GFA06-1920</div></td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td><div align="center">AG10-1920</div></td>
                              <td><div align="center">RG08-1920</div></td>
                              <td><div align="center">TRA11-1920</div></td>
                              <td><div align="center">GFA07-1920</div></td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
							 <tr>
							   <td><div align="center">AG11-1920</div></td>
							   <td><div align="center">RG09-1920</div></td>
							   <td><div align="center">TRA12-1920</div></td>
							   <td><div align="center">GFA08-1920</div></td>
							   <td>&nbsp;</td>
							   <td>&nbsp;</td>
							   </tr><tr>
                                 <td>&nbsp;</td>
							     <td><div align="center">RG10-1920</div></td>
							     <td>&nbsp;</td>
							     <td><div align="center">GFA09-1920</div></td>
							     <td>&nbsp;</td>
							     <td>&nbsp;</td>
							     </tr><tr>
                                   <td>&nbsp;</td>
							       <td><div align="center">RG11-1920</div></td>
							       <td>&nbsp;</td>
							       <td><div align="center">GFA10-1920</div></td>
							       <td>&nbsp;</td>
							       <td>&nbsp;</td>
							       </tr><tr>
                                     <td>&nbsp;</td>
							         <td>&nbsp;</td>
							         <td>&nbsp;</td>
							         <td><div align="center">GFA11-1920</div></td>
							         <td>&nbsp;</td>
							         <td>&nbsp;</td>
							         </tr><tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td><div align="center">GFA12-1920</div></td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                          </tr></tbody></table>
  </div>
</div>
