<div>
    <br>
    <h1 style="font-size:19px;text-align:center"><b>中國香港體操總會</b></h1>
    <h2 style="font-size:19px;text-align:center"><u>參加者健康及體能須知</u></h2>
    <br><br>
    <ol>
        <li>參加者/參加者之監護人應確定參加者於進行相關課程/比賽/活動時﹕</li>
        <ul>
            <li>未曾有醫生說過參加者的心臟有問題，以及只可進行醫生建議的體能活動</li>
            <li>參加者未曾於進行體能活動時會感到胸口痛</li>
            <li>過去一個月內，參加者未曾在沒有進行體能活動時也感到胸口痛</li>
            <li>參加者未曾因感到暈眩而失去平衡，或曾否失去知覺</li>
            <li>參加者的骨骼或關節(例如脊骨、膝蓋或髖關節)沒有毛病，且不會因改變體能活動而惡化</li>
            <li>醫生現時沒有處方血壓或心臟藥物（例如 water pills）給參加者服用</li>
            <li>沒有其他理由令參加者不應進行有關活動</li>
        </ul>
        <li>本會建議各參加者評估自己的體能，以便參加者擬定最佳的運動計劃，同時亦需定期量度血壓，
            並先徵詢醫生的意見才參加此活動。</li>
        <li>如參加者因傷風或發燒等暫時性疾病而感到不適，請在康復後才參加此活動。</li>
        <li>如參加者懷孕或可能懷孕，請先徵詢醫生的意見才參加此活動。</li>
        <li>開始參加此活動時應慢慢進行，量力而為，然後逐漸增加運動量，這是最安全和最容易的方法。</li>
        <li>如參加者有以上各項健康狀況的轉變，便應告知醫生或活動教練，評估應否繼續參加此活動。</li>
        <li>如參加者有任何可能影響其安全的疾病或其他身體狀況，必須以書面通知本會。</li>
        <li>如有需要，本會有權要求參加者提供有關的醫生証明文件，以作參考。</li>
        <li>如有疑問，請先徵詢醫生的意見才參加此活動。</li>
    </ol>
    
</div>