<%- partial('./partial/sidemenu.ejs') %>
<section class="content aboutus">
  <h5 class="main-heading1">執委會<span class="highlight">名單</span></h5>
  <div class="container-fluid">
    <p class="lead text-center font-weight-bold" style="color:#163457">中國香港體操總會<br>The Gymnastics Association of Hong Kong, China<br>Office Bearers 2018 – 2020</p>

    <table class="table table-striped">
      <caption>(8/2016) Remarks: Terms of office - 2 years (except Life President)</caption>
      <tr>
        <td>Life President:</td>
        <td>Dr. Winnie HO</td>
        <td>&nbsp;</td>
        <td>何煥賢博士</td>
      </tr>
      <tr>
        <td>Hon President:</td>
        <td>Mr. PUI Kwan Kay, SBS, MH</td>
        <td>&nbsp;</td>
        <td>貝鈞奇先生, SBS, MH</td>
      </tr>
      <tr>
        <td>President:</td>
        <td>Mr. Kenneth FOK Kai Kong, JP </td>
        <td>&nbsp;</td>
        <td>霍啟剛先生, JP </td>
      </tr>
      <tr>
        <td>Vice Presidents:</td>
        <td>Mr. LAU Yan Tak</td>
        <td>&nbsp;</td>
        <td>樓恩德先生</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Mr. SO Wai Ming</td>
        <td>&nbsp;</td>
        <td>蘇威鳴先生</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Mr. KO Hak Ling</td>
        <td>&nbsp;</td>
        <td>高克寧先生</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Mrs. Linda LAW </td>
        <td>&nbsp;</td>
        <td>羅陳秀芬女士</td>
      </tr>
      <tr>
        <td height="23">Honorary Advisors:</td>
        <td>Mr. Simon LAU</td>
        <td>(Legal)</td>
        <td>劉世民先生</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Mr. Keith LAM</td>
        <td>(Legal)</td>
        <td>林勝來先生</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Oriental Link CPA Ltd</td>
        <td>(Audit Firm)</td>
        <td>華盈會計事務所有限公司</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Dr.  Terry WONG Hiu Lam</td>
        <td>(Medical)</td>
        <td>黃曉嵐醫生</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Ms. WONG Shuk Fong</td>
        <td>(Medical)</td>
        <td>黃淑芳小姐 (註冊中醫師)</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Dr. Raymond YIP</td>
        <td>(Medical)</td>
        <td>葉卓倫醫生</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Dr. LAM Hung Wai</td>
        <td>(Medical)</td>
        <td>林雄偉醫生</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Prof. HE Xingguang</td>
        <td>(Technical)</td>
        <td>何幸光教授</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Ms. Tammy YAGI-KITAGAWA</td>
        <td>(Technical)</td>
        <td>八木多美女士</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Ms. YAN Ninan</td>
        <td>(Technical)</td>
        <td>燕呢喃女士</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Mr. POON King Hung</td>
        <td>(Technical)</td>
        <td>潘鏡雄先生</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Mr. XIONG Songliang </td>
        <td>(Technical)</td>
        <td>熊松良先生</td>
      </tr>
      <tr>
        <td>Chairperson:</td>
        <td>Prof. CHEUNG Siu Yin, MH</td>
        <td>&nbsp;</td>
        <td>張小燕教授, MH </td>
      </tr>
      <tr>
        <td>Vice Chairperson:</td>
        <td>Dr. CHAN Kam Hung</td>
        <td>&nbsp;</td>
        <td>陳錦雄博士</td>
      </tr>
      <tr>
        <td>Hon Secretary:</td>
        <td>Ms. Alice LEUNG Fung Shan</td>
        <td>&nbsp;</td>
        <td>梁鳳珊女士</td>
      </tr>
      <tr>
        <td>Hon Treasurer:</td>
        <td>Mr. WONG Chi Ka</td>
        <td>&nbsp;</td>
        <td>黃志嘉先生</td>
      </tr>
      <tr>
        <td>Public Relation Officer:</td>
        <td>Mr. Jonathan TSANG</td>
        <td>&nbsp;</td>
        <td>曾家石先生</td>
      </tr>
      <tr>
        <td>Convener of MAG TC:</td>
        <td>Mr. AU Hung Kong</td>
        <td>&nbsp;</td>
        <td>區鴻江先生</td>
      </tr>
      <tr>
        <td>Convener of WAG TC:</td>
        <td>Ms. NG Ka Ying</td>
        <td>&nbsp;</td>
        <td>伍家瑩女士</td>
      </tr>
      <tr>
        <td>Convener of RG TC:</td>
        <td>Ms. TANG Wun Sze</td>
        <td>&nbsp;</td>
        <td>鄧煥詩女士</td>
      </tr>
      <tr>
        <td>Convener of TRA TC:</td>
        <td>Mr. LIU Hon Kwong</td>
        <td>&nbsp;</td>
        <td>廖漢光先生</td>
      </tr>
      <tr>
        <td>Convener of ACRO TC:</td>
        <td>Ms. QIU Ping </td>
        <td>&nbsp;</td>
        <td>周平女士</td>
      </tr>
      <tr>
        <td>Convener of GFA TC:</td>
        <td>Mr. Andy LI</td>
        <td>&nbsp;</td>
        <td>李中建先生</td>
      </tr>
      <tr>
        <td>Convener of AER TC:</td>
        <td>Ms. Alice LEUNG Fung Shan</td>
        <td>&nbsp;</td>
        <td>梁鳳珊女士</td>
      </tr>
      <tr>
        <td>Convener of Research &amp; Resources:</td>
        <td>Dr. FUNG Sai Fu</td>
        <td>&nbsp;</td>
        <td>馮世富博士</td>
      </tr>
    </table>
  </div>
</section>
