<%- partial('./partial/sidemenu.ejs') %>
<section class="content aboutus">
  <h5 class="main-heading1">本會<span class="highlight">簡介</span></h5>
  <div class="container-fluid">
    <p>本會自2003年4月1日正式成立，前身為香港業餘體操協會，於1965年由一群熱衷體操運動的人士組織而成，旨在推動本港體操運動的發展。創會初期，總會致力推廣競技體操運動的發展。多年來，總會經過不斷的努力，推動及發展各類型的體操活動。現時，本港體操活動已趨多元化，包括競技體操、藝術體操、普及體操、技巧體操、彈網及健美體操。</p>

    <p class="lead">培訓優秀體操運動員，於國際賽事爭取佳績</p>
    <p>近年本會培訓的運動員在各項大型體操賽事中皆取得令人鼓舞的成績。運動員黃曉盈及石偉雄歷史性獲得 2012年倫敦奧運的參賽資格，其中黃曉盈於平衡木項目的自創上法更獲國際體操聯盟(FIG)女子競技體操技術委員會正式命名為「Wong Hiu Ying Angel」。於2014年仁川亞運會中，石偉雄更以總分15.216分歷史性取得跳馬金牌，黃曉盈則以總分13.066分取得跳馬第七名。另外吳翹充於2014年多哈世界錦標賽及2014年仁川亞運會中，憑著兩套自創之吊環動作獲國際體操聯盟(FIG)男子競技體操技術委員會正式命名為「Ng Kiu Chung」及「Ng Kiu Chung 2」。2015年石偉雄再接再厲，於日本廣島舉行的「第六屆亞洲競技體操錦標賽」中，勇奪跳馬金牌及單槓銀牌。2018年石偉雄於雅加達亞運會又以總分14.612 分力壓對手，蟬聯跳馬金牌。本會將繼續積極培訓運動員，放眼來年的各項國際大賽，為港爭光。</p>

    <p class="lead">舉辦大型國際性活動，讓更多市民認識體操</p>
    <p>為使香港體操普及化，吸引更多人參與體操活動，本會定期舉辦不同體操項目的同樂日、示範表演、訓練班及比賽等。本地曾舉辦多項大型的體操活動，讓大眾透過現場觀賞，進一步認識體操運動，並感受體操的魅力，例如2005年「第二屆亞洲普及體操節」及「李寧盃－全國技巧體操冠軍賽暨和富社會企業杯－香港青少年技巧體操邀請賽」、2007年「慶祝香港特別行政區成立十周年─ 體操精英大匯演」、2008年邀請丹麥體操隊來港出席一年一度的「香港普及體操節」作表演嘉賓、2010年「國家體操名將慈善匯演」及「第三屆亞洲普及體操節」、2011年「恒基兆業盃 – 全國體操冠軍賽」、2013年邀請巴西普及體操隊來港表演及舉辦同樂活動、2015年「香港國際彈網邀請賽」及「中俄青年交流計劃」中邀請俄羅斯體操隊來港表演和安排香港體操隊成員到俄交流等。</p>

    <p class="lead">著重教練培訓及裁判發展 </p>
    <p>本會同時十分著重體操教練及裁判的培訓工作，除定期舉辦本地教練及裁判班外，更於每個奧運週期邀請海外專家來港舉辦國際裁判班，與國際體操聯盟(FIG)及亞洲體操聯盟(AGU)合作舉辦國際教練班，例如：2016年「FIG男、女子競技體操國際一級教練班」及2016年「AGU男子競技體操訓練營」等。</p>

    <p>展望將來，在中國香港體育協會暨奧林匹克委員會、康樂及文化事務署、香港體育學院和社會各界人士的支持下，本會將繼續全力推動體操運動。</p>

    <p lang="en">The Gymnastics Association of Hong Kong, China (GAHK) was founded on April 1, 2003, formerly known as Hong Kong Amateur Gymnastics Association, which was set up by a group of enthusiastic athletes in 1965. The aim is to promote the development of gymnastics in Hong Kong. At the preliminary stage, our association focused on the development of Artistic Gymnastics. Through our continuous effort and support, we also develop diverse activities of Gymnastics through the years. Nowadays, gymnastics in Hong Kong consists of six disciplines including Artistic Gymnastics, Rhythmic Gymnastics, Gymnastics For All, Acrobatic Gymnastics, Trampoline and Aerobic Gymnastics.</p>

    <p class="lead" lang="en">Nurturing elite gymnasts to strive for excellence in major international competitions</p>
    <p lang="en">We put much effort on nurturing and assisting gymnasts to achieve good results in international competitions. In the past few years, the Hong Kong Gymnastics Team continued to achieve excellent results in different major events, which was a great encouragement to the Association and all the gymnasts. For instance, Mr. SHEK Wai Hung and Ms WONG Hiu Ying Angel represented Hong Kong in London 2012 Olympic Games and Ms. WONG made a glorious history for Hong Kong as she successfully staged her debut gymnastic movement on the balance beam: salto forward tuck with half turn. It was recognized by the Federation Internationale de Gymnastique (FIG) to be named after her (WONG Hiu Ying Angel Mount). Mr. SHEK won a historic gold medal in Men’s Vault with a score 15.216 at the Incheon 2014 Asian Games while Ms. WONG ranked the 7th in Women’s Vault with a score 13.066. Besides, Mr. NG Kiu Chung’s two gymnastics movements on Rings performed during the FIG Artistic Gymnastics World Challenge Cup (Doha) 2014 and Incheon 2014 Asian Games were also recognized by the FIG to be named after him (NG Kiu Chung and NG Kiu Chung 2). In 2015, Mr. SHEK made persistent efforts by winning a gold medal in Men’s Vault and a silver medal in Horizontal Bar at the 6th Senior Artistic Gymnastics Asian Championships. The Hong Kong Gymnastics Team proved ourselves a force to be reckoned with in the region and we will achieve more medal success on the world stage in the future.</p>

    <p class="lead" lang="en">Organizing large-scale gymnastics events to raise public awareness</p>
    <p lang="en">To popularize gymnastics in Hong Kong and foster citizen participation in gymnastics activities, our Association has organized various gymnastics events, for examples, fun day, demonstration and play-in sessions, training courses and competitions, etc. Organizing mega local events can raise public’s awareness on gymnastics through live performance in Hong Kong, such as the ‘2nd Asian Gymnastics For All Festival 2005’, ‘Li Ning Cup China National Acrobatic Gymnastics Championships 2005’, ‘HKSAR 10th Anniversary Gymnastics Extravaganza 2007’, Danish Gymnastics Team Performance in ‘Hong Kong Gymnastics For All Festival 2008’, ‘The Chinese Gymnastics Team Charity Extravaganza 2010’, the ‘3rd Asian Gymnastics For All Festival’, ‘Henderson Land Cup National Individual Championships of Artistic Gymnastics 2011 in Hong Kong’, ‘Brazil Gymnastics For All Team Performance’ in  2013, ‘Hong Kong Trampoline International Invitation Championships 2015’ and ‘Russia-Hong Kong Youth Exchange Programme 2015’, etc.</p>

    <p class="lead" lang="en">Focusing on coaching and judging development</p>
    <p lang="en">The GAHK allocates much resources on coaching and judging development at the same time. Apart from organizing regular local coaches and judges courses, we will also invite overseas experts to co-organize International Judges Course in every Olympic Cycle and organize International Coaching Courses with the cooperation of Federation Internationale de Gymnastique (FIG) and Asian Gymnastics Union (AGU), such as the ‘FIG Level One Academy for Men’s and Women’s Artistic Gymnastics’ and ‘AGU Men’s Artistic Gymnastics Common Training Camp’ in 2016.</p>

    <p lang="en">Under the support of Sports Federation & Olympic Committee (SF&OC), Leisure and Cultural Services Department (LCSD), Hong Kong Sports Institute (HKSI) as well as the society, we will continue to work as a team to strive to foster the sustainable development of gymnastics.</p>
  </div>
</section>
